{% extends 'base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.delta) }}
        </div>
        <div class="col-md-9">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-12">

        </div>
    </div>
    <p class="ui message info">Informe somente um campo</p>

    <div class="ui segment">
        <h2>Para aulas em texto e vídeo</h2>
        {{ form_row(form.content) }}
        {{ macros.button(path('admin_content_new',{
            'courseSection':courseContent.courseSection.id,
            'courseContent':courseContent.id|default(0)
        }),'Novo conteúdo','ui button button-inline') }}
        {% if form.vars.data.content|default(null) %}
            {{ macros.button(path('admin_content_edit',{'id':form.vars.data.content.id,
                    'back':app.request.uri}),'Editar conteúdo','ui button button-inline') }}
{#            {{ macros.button(path('content_show',{'id':courseContent.content.id}),'Visualizar conteúdo') }}#}
        {% endif %}

    </div>

    <div class="ui segment">
        <h2>Para aulas em formato de teste</h2>
        {{ form_row(form.quiz) }}
        {% if form.vars.data.quiz|default(null) %}
            {{ macros.button(path('admin_quiz_show',{'id':form.vars.data.quiz.id,
                'back':app.request.uri}),'Editar Quiz','ui button button-inline') }}
        {% endif %}
        {{ macros.button(path('admin_quiz_new',{'type':'e_drpixel'}),'Novo Quiz','ui button button-inline') }}
    </div>


        {{ form_row(form.quiz) }}
{#        {{ form_row(form.chamada) }}#}
        {{ macros.button_submit() }}
    {{ form_end(form) }}
<script>
    $(document).ready(function () {
        $(".select2entity").select2();
    })
</script>
{% endblock %}
