{% set content = courseContent.content %}
{% set courseProgress = courseContent.getCourseProgress(app.user) %}

<div class="ui segment">

    {% set color = 'gray' %}
    {% set status = 'P' %}

    {# Ribbon #}
    {% if is_granted('ROLE_USER') %}
        {% set status = courseContent.getUserStatus(app.user) %}
        {% if status == 'P' and nextProgress.courseContent.id == courseContent.id  %}
            {% set color = 'blue' %}
        {% endif %}

        {% if status == 'I' %}
            {% set color = 'blue' %}
        {% endif %}

        {% if status == 'C' %}
            {% set color = 'green' %}
        {% endif %}
    {% endif %}

    {# USUARIO JA INSCRITO NO CURSO #}
    {% if courseProgress is not empty %}
    <a href="{{ path('course_progress_show', {'id' : courseProgress.id, 'course' : courseContent.course.id}) }}"
       class="ui {{ color }} ribbon label">
        {{ loop.index }}

    </a>
    {% else %}
        <span class="ui ribbon label">
            {{ loop.index }}
        </span>
    {% endif %}



    <strong class="">
        {% if content is not empty %}
            {# somente modulos proximos e pendentes podem ser entraveis#}
            {% if color == 'blue' or color == 'green' %}
            <a href="{{ path('course_progress_show', {'id' : courseProgress.id, 'course' : courseContent.course.id}) }}">
                {{ courseContent.title }}
            </a>
            {% else %}
                {{ courseContent.title }}
            {% endif %}

        {% endif %}

        {% if courseContent.quiz is not empty %}
            {% if color == 'blue' or color == 'green' %}
            <a href="{{ path('course_progress_quiz', {'course' : course.id, 'id' : courseContent.getCourseProgress(app.user).id }) }}">
            {{ courseContent.title }}
            </a>
            {% else %}
                {{ courseContent.title }}
            {% endif %}
        {% endif %}
    </strong>

    {{ courseContent.chamada|raw }}

    {% if courseContent.quiz is not empty and is_granted('ROLE_USER') %}
        {% set courseProgress = courseContent.getCourseProgress(app.user) %}

        {# Exibe respostas #}
        {% if courseProgress is not empty %}
        {% for answer in courseProgress.answers %}

            {# Exibe senao for feedback#}
            {% if not answer.hasFeedback and courseProgress.status == 'C' %}
                {% include ':Quiz/Quiz:row.answer.user.html.twig' with {'quiz' : courseContent.quiz }%}
            {% endif %}

        {% endfor %}
        {% endif %}
    {% endif %}

    <br/>
    {# OPCOES ADMINISTRATIVAS #}
    {% if is_granted('ROLE_ADMIN') %}
        <br/>
        <div class="ui buttons mini basic">
            <a class="ui   button mini" href="{{ path('admin_course_content_edit', {'id' : courseContent.id,
                'course' : courseContent.course.id,
                'back' : app.request.requestUri}) }}">editar módulo no curso</a>

            {% if content is not empty %}
                <a class="ui   button mini" href="{{ path('admin_content_edit', {'id' : content.id,
                    'back' : app.request.requestUri}) }}">editar conteúdo</a>
            {% endif %}

            {% if courseContent.quiz is not empty %}
                <a class="ui button mini" href="{{ path('admin_quiz_show', {'id' : courseContent.quiz.id,
                    'back' : app.request.requestUri}) }}">editar teste</a>
            {% endif %}

            <a class="ui   button mini" href="{{ path('admin_course_content_delete', {'course' : courseContent.course.id,
                'id' : courseContent.id}) }}">remover do curso</a>
        </div>
    {% endif %}
</div>