{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coursecontent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ courseContent.id }}</td>
            </tr>
            <tr>
                <th>Delta</th>
                <td>{{ courseContent.delta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_course_content_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_course_content_edit', { 'id': courseContent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
