{% extends 'base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    {% for row in rows %}
        <h1>{{ row.name }}</h1>
        <div class="ui cards">
            {% for quiz in row.quiz %}
                <div class="ui card">
                    <div class="content">
                        <a class="header" href="{{ path('admin_quiz_show', {'id' : quiz.id}) }}">
                            {{ quiz.title }}
                        </a>

                        <div class="description">
                            <p><a href="{{ path('admin_quiz_edit', {'id' : quiz.id}) }}">Editar teste</a></p>
                            <p><a href="{{ path('admin_quiz_show', {'id' : quiz.id}) }}">Visualizar perguntas</a></p>
                            <p><a href="{{ path('quiz_answer_start', {'quiz' : quiz.id}) }}">Realizar teste</a></p>
                        </div>
                    </div>
                    <div class="content">
                        <a href="{{ path('admin_quiz_answers', {'id' : quiz.id}) }}">Visualizar respostas ({{ quiz.answers |length }})</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/>
    {% endfor %}

{% endblock %}
