{% extends 'Quiz/base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    <table class="ui table">
        <thead>
        <th>Criado em</th>
        <th>Usuário</th>
        {% if quiz.preQuiz %}
            <th>Pré-teste</th>
        {% endif %}

        <th>Teste</th>

        {% if quiz.feedback %}
            <th>Feedback</th>
        {% endif %}

        {% if quiz.fixacao %}
        <th>Fixação</th>
        {% endif %}

        </thead>
        {% for answer in quiz.answers %}
            {% include ':Quiz/Quiz:row.answer.html.twig' with {'showName' : 0}%}
        {% endfor %}
    </table>
{% endblock %}