{% import ':default:macro.html.twig' as macros %}


    <br/>
    {% if quiz.published %}
        <small class="label ui green basic tiny">publicado</small>
    {% else %}
        <small class="label ui red basic tiny">não publicado</small>
    {% endif %}

    {% if quiz.body is not empty %}
        <div class="ui segment vertical">
            <strong>Orientações</strong>
            {{ quiz.body|raw }}
        </div>
    {% endif %}

    {% if quiz.feedbacks is not empty %}
        <h2>Perguntas do teste</h2>
    {% endif %}

    {% for question in quiz.questions %}
        <div class="ui segment vertical">

            {{ macros.question(question) }}

        </div>
    {% endfor %}

    {% if quiz.feedbacks is not empty %}
        <h2>Perguntas de feedback</h2>
    {% endif %}
    {% for question in quiz.feedbacks %}
        <div class="ui segment vertical">

            {{ macros.question(question) }}

        </div>
    {% endfor %}


    {% if not is_granted ('ROLE_ADMIN')%}
        {% include '@App/Theme/block.disqus.html.twig' with {'page_identifier' : 'quiz' ~ quiz.id } %}
    {% endif %}
