{% extends 'base.admin.html.twig' %}
{% import 'default/macro.html.twig' as forms %}


{% block content %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {% if form.content is defined %}
    {{ form_row(form.content) }}

    <div class="ui grid three column field">
        <div class="wide column">
            {{ form_row(form.preQuiz) }}
            {{ form_row(form.fixacao) }}
        </div>
        <div class="wide column">
            {{ form_row(form.feedback) }}
            {{ form_row(form.published) }}
        </div>
        <div class="wide column">
            {{ form_row(form.visibility) }}
        </div>
    </div>
    {{ form_row(form.path) }}
    {{ form_row(form.resume) }}
    {% endif %}
    {{ form_widget(form) }}
    {{ forms.button_submit('Salvar') }}
    {{ form_end(form) }}

{% endblock %}
