{% extends 'Quiz/base.html.twig' %}

{% block content %}


    <div class="ui items divided ">
        {% for quiz in quizzes %}
            <div class="item">
                <div class="content">
                    <a class="header" href="{{ path('quiz_answer_start', {'quiz' : quiz.id}) }}">
                        <h2>{{ quiz.title }}</h2>
                    </a>

                    <br/>
                    {{ quiz.body|raw }}
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock %}
