<div class="ui vertical menu fluid">

    <div class="item">
        <div class="header">
            <a href="{{ path('admin_quiz_show', {'id' : quiz.id}) }}">
                Teste: {{ Teste.title }}
            </a>
        </div>

    </div>
    <div class="item">
        <div class="menu">
            {% if quiz.content is not empty %}
            <a class="item" href="{{ path('admin_content_edit', {'id' : quiz.content.id}) }}">Editar {{ quiz.content.titulo }}</a>
            {% endif %}
            <a class="item" href="{{ path('admin_quiz_show', {'id' : quiz.id}) }}">Editar quiz</a>
            <a class="item" href="{{ path('admin_quiz_question_new', {'quiz' : quiz.id}) }}">Incluir perguntas</a>
            {% if quiz.content is not empty %}
                <a class="item" href="{{ path('content_show', {'id' : quiz.content.id}) }}">Ver {{ quiz.content.titulo }}</a>
            {% endif %}
            <a class="item" href="{{ path('quiz_answer_new', {'quiz' : quiz.id}) }}">Ver quiz</a>
            <a class="item" href="{{ path('quiz_answer_index', {'quiz' : quiz.id}) }}">Ver responstas</a>

        </div>
    </div>
    <div class="item">
        Perguntas <div class="ui label">{{ quiz.questions|length }}</div>

    </div>
    <div class="item">
        Respostas <div class="ui label">{{ quiz.answers|length }}</div>
    </div>


</div>