<table>
    {% if showHeader|default(1) %}
    <thead>
    {% if quiz.preQuiz %}
        <th>Pré-teste Acertos</th>
        <th>Pré-teste Erros</th>
        <th>Pré-teste % de acertos</th>
    {% endif %}
    <th>Acertos</th>
    <th>Erros</th>
    <th>% de acertos</th>
    {% if quiz.fixacao %}
        <th>Fixação Acertos</th>
        <th>Fixação Erros</th>
        <th>Fixação % de acertos</th>
    {% endif %}
    <th></th>
    </thead>
    {% endif %}
<tr>

    {# RESPOSTAS DO PRE-TESTE #}
    {% if quiz.preQuiz %}
        <td>
            <span class="ui label horizontal green basic">
                <i class="check circle outline icon "></i>{{ answer.getCorrects(0) }}
            </span>
        </td>
        <td>
            <span class="ui label horizontal red basic">
                <i class="times circle outline icon "></i>{{ answer.getInCorrects(0) }}
            </span>
        </td>
        <td>
            <span class="ui label horizontal basic">
                {{ answer.percent(0) | number_format(2,',')}} %
            </span>
        </td>
    {% endif %}

    {# RESPOSTAS DO TESTE #}
    <td>
        <span class="ui label horizontal green basic">
            <i class="check circle outline icon "></i>{{ answer.getCorrects(1) }}
        </span>
    </td>
    <td>
        <span class="ui label horizontal red basic">
            <i class="times circle outline icon "></i>{{ answer.getInCorrects(1) }}
        </span>
    </td>
    <td>
        <span class="ui label horizontal basic">
            {{ answer.percent(1) | number_format(2,',') }} %
        </span>
    </td>

    {% if quiz.feedback %}
        <td>{{ answer.items(2) | length }}</td>
    {% endif %}

    {# RESPOSTAS FIXACAO #}
    {% if quiz.fixacao %}
        <td>
            <span class="ui label horizontal green basic">
                <i class="check circle outline icon "></i>{{ answer.getCorrects(3) }}
            </span>
        </td>
        <td>
            <span class="ui label horizontal red basic">
                <i class="times circle outline icon "></i>{{ answer.getInCorrects(3) }}
            </span>
        </td>
        <td>
            <span class="ui label horizontal basic">
                {{ answer.percent(3) | number_format(2,',')}} %
            </span>
        </td>
    {% endif %}
    <td>
        {% if answer.courseProgress.courseContent.allQuizFromCourseCompleted(answer.courseProgress) %}
        <a target="_blank" href="{{ path('quiz_answer_finish', {
            'quiz' : quiz.id, 'answer' : answer.id,
            'back' : app.request.requestUri

        }) }}">
            ver respostas
        </a>
        {% endif %}
    </td>
</tr>
</table>