<tr>
    <td>
        <a target="_blank" href="{{ path('quiz_answer_finish', {
            'quiz' : quiz.id, 'answer' : answer.id,
            'back' : app.request.requestUri

        }) }}">
            {{ answer.created|date('d/m/Y H:i') }}
        </a>
    </td>

    {% if showName %}
    <td>{{ answer.user.name|default('anom') }}</td>
    {% endif %}

    {# RESPOSTAS DO PRE-TESTE #}
    {% if quiz.preQuiz %}
        <td>
            <span class="ui label horizontal green basic">
                <i class="check circle outline icon "></i>{{ answer.getCorrects(0) }}
            </span>
            <span class="ui label horizontal red basic">
                <i class="times circle outline icon "></i>{{ answer.getInCorrects(0) }}
            </span>
            <span class="ui label horizontal basic">
                {{ answer.percent(0) | number_format(2,',')}} %
            </span>
        </td>
    {% endif %}

    {# RESPOSTAS DO TESTE #}
    <td>
        <span class="ui label horizontal green basic">
            <i class="check circle outline icon "></i>{{ answer.getCorrects(1) }}
        </span>
        <span class="ui label horizontal red basic">
            <i class="times circle outline icon "></i>{{ answer.getInCorrects(1) }}
        </span>
        <span class="ui label horizontal basic">
            {{ answer.percent(1) | number_format(2,',') }} %
        </span>
    </td>

    {% if quiz.feedback %}
        <td>{{ answer.items(2) | length }}</td>
    {% endif %}

    {# RESPOSTAS FIXACAO #}
    {% if quiz.fixacao %}
        <td>
            <span class="ui label horizontal green basic">
                <i class="check circle outline icon "></i>{{ answer.getCorrects(3) }}
            </span>
            <span class="ui label horizontal red basic">
                <i class="times circle outline icon "></i>{{ answer.getInCorrects(3) }}
            </span>
            <span class="ui label horizontal basic">
                {{ answer.percent(3) | number_format(2,',')}} %
            </span>
        </td>
    {% endif %}

</tr>