{% extends 'Quiz/base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}

    {% if quiz.body is not empty %}
        <strong>Orientações</strong>
        {{ quiz.body|raw }}
    {% endif %}


    {% for question in quiz.questions %}
        <div class="ui segment vertical">
            {{ macros.question(question,answer) }}
        </div>
    {% endfor %}

    {% for question in quiz.feedbacks %}
        <div class="ui segment vertical">
            {{ macros.question(question,answer,2) }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        <br/>
        {{ macros.button_submit('Enviar respostas') }}
    {{ form_end(form) }}
{% endblock %}
