{% extends 'base.html.twig' %}

{% block main %}
    {% include '@App/Theme/block.title.html.twig' %}

    <div class="ui ">
        {% for tag in tags %}
            <div class="ui vertical segment">

                <h2>
                    <a href="{{ path('especialidade_show',{'path' : tag.path}) }}" class="header">
                        {{ tag.name }}
                    </a>
                </h2>

                {% if tag.parent is not empty %}
                <div class="list-justify">

                    {% for children in tag.parent %}
                        <div class="item">
                            <a href="{{ path('especialidade_show',{'path' : children.path}) }}" class="header">
                                {{ children.name }}
                            </a>
                        </div>
                    {% endfor %}

                </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block customjs %}
<script>
    $('.ui.accordion')
        .accordion()
    ;
</script>
{% endblock %}