{% extends 'base.html.twig' %}

{% block content %}
    <img src="{{ asset('bundles/app/drpixel/sad.png') }}">
    <h2>Oops, um erro ocorreu</h2>
    <p>Lamentamos pelo ocorrido, o administrador do sistema será notificado</p>
{% endblock %}