{% extends 'base.html.twig' %}

{% block content %}
<img src="{{ asset('bundles/app/drpixel/sad.png') }}">
<h2>Oops, página não encontrada</h2>
    <p>Lamentamos pelo ocorrido, o administrador do sistema será notificado</p>
{% endblock %}