{% extends 'base.admin.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}
    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="ui table  dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>
            <th>Conteúdo</th>
            <th>URL</th>
            <th>editar</th>
            <th>visualizar</th>
            </thead>
            <tbody>
            {% for redirect in redirects %}
                <tr>
                    <td>
                        {{ redirect.content.titulo }}
                    </td>
                    <td>
                        {% set args = redirect.splitTarget %}
                        <a href="{{ path('match2args', {'arg1' : args[1], 'arg2' : args[2]})}}">
                            {{ redirect.target }}
                        </a>
                    </td>
                    <td>
                        {{ macros.newWindow(path('content_show',{'id' : redirect.content.id})) }}

                    </td>
                    <td>
                        {{ macros.newWindow(path('admin_redirect_edit',{'id' : redirect.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block customjs %}
    <script>
        $(document).on('ready',function () {
            $('#data-table-basic').dataTable({
                "order": [[ 1, "desc" ]]
            });
        })
    </script>
{% endblock %}
