{% extends 'base.html.twig' %}

{% block body %}
    <h1>Redirect</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ redirect.id }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ redirect.target }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_redirect_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_redirect_edit', { 'id': redirect.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
