{% extends 'base.html.twig' %}

{% block content %}

    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="ui table table-striped dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>
            <tr>
                <th>Nome</th>
            </tr>

            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('author_edit', {'id' : author.id}) }}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            {% endif %}
                            {{ author.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block customjs %}
    <script>
        new DataTable('#data-table-basic');
    </script>
{% endblock %}
