{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}


{% block content %}
    <div class="blockLarge block-separator">
        <div class="row">
            {% if author.imageFile is not empty %}
                <div class="col-md-4">
                    <img src="{{ vich_uploader_asset(author,'imageFile') }}" class="img-fluid">
                </div>
            {% endif %}
            <div class="col-md-8">
                <h1>{{ author.name }}</h1>
                {% if author.curriculum is empty %}
                <p>Curriculum não disponível</p>
                {% endif %}
                {{ author.curriculum|raw }}
                <h3>Conteúdos publicados</h3>
                <ul>
                {% for contentAuthor in author.contentAuthors %}
                    {% if contentAuthor.content %}
                    <li>
                        <a href="{{ path('content_show',{"id": contentAuthor.content.id}) }}">
                            {{ contentAuthor.content.titulo }}
                        </a>
                        {{ macros.published(contentAuthor.content) }}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>

            </div>
        </div>
    </div>


{% endblock %}