{% if page_title is defined %}
    <h1 class="page_title mb-3 font2 font-italic">
        {% if back is defined %}
            <a href="{{ back }}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        {% endif %}
        {{ page_title }}
    </h1>
    {% if subtitle is defined%}
    <h2>{{ subtitle }}</h2>
    {% endif %}
{% endif %}
{% include '@App/Theme/block.actions.html.twig' %}