{% import 'v2/default/macro.html.twig' as macros %}
{{ macros.menu_item(path('home'),'Home') }}
{{ macros.menu_item(path('aula_index'),'Aulas') }}

{{ macros.menu_item(path('tag_path',{'path':'modelos-de-laudo'}),'Modelos de Laudo') }}
{{ macros.menu_item(path('adrpixel_index'),'Cursos online') }}
{{ macros.menu_item(path('evento_index'),'Cursos presenciais na Unicamp') }}
{{ macros.menu_item(path('tag_path',{'path' : 'graduacao'}),'Conteúdo para graduação em Medicina') }}
{{ macros.menu_item(path('other_sobre'),'Sobre') }}


