{% block actions %}

    {% if actions is defined and actions is not empty  %}
        <!-- ACTIONS -->
        <div id="actions" class="ui buttons mb-2">
            {% for action in actions %}
                {% if action.role is defined and is_granted(action.role) or action.role is not defined %}
                    <a href="{{ action.path|default(null) }}{{ action.url|default(null) }}"
                       class="btn btn-secondary {% if action.icon is defined %}labeled icon{% endif  %} {{ style|default('secondary') }}">
                        {% if action.icon is defined %}<i class="icon {{ action.icon }}"></i> {% endif %}
                        {{ action.label }}
                    </a>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}
{% endblock %}