{% import 'default/macro.html.twig' as macros %}

{% block header %}

<div id="header" class="mb-2">

    <div class="container">
        <div class="d-none d-lg-block">
            <div class="d-flex justify-content-between align-items-center logos-block ">
                <div>
                    <a  href="htttp://www.fcm.unicamp.br" class="p-2">
                        <img class="fcm" style="height: 75px" src="{{ asset('bundles/app/image/logos/logo-fcm.png') }}">
                    </a>
                    <a href="htttp://www.unicamp.br" class="p-2">
                        <img class="unicamp" style="height: 75px" src="{{ asset('bundles/app/image/logos/logo-unicamp-white.png') }}">
                    </a>
                </div>

                <a href="{{ path('home') }}" class="d-flex align-items-center">
                    <img style="max-height: 100px" class="p-2" src="{{ asset('bundles/app/image/logos/logodrpixel.png') }}">
                    <div class="font">Dr.Pixel</div>
                </a>

                <div class="">
                    <form id="search" action="https://drpixel.fcm.unicamp.br/" method="get">
                        <div class="d-flex align-items-stretch">
                            <input type="text" class="form-control" name="q" id="q" placeholder="Buscar">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {#MENU RESPONSIVO#}
        <div id="menu-responsive" class="d-block d-lg-none logos-block">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ path('home') }}" class="p-2 ">
                    <img style="max-height: 100px" class="drpixel " src="{{ asset('bundles/app/image/logos/logodrpixel.png') }}">
                    <div class="font">Dr.Pixel</div>
                </a>

                <a href="htttp://www.unicamp.br" class="p-2">
                    <img class="unicamp" style="height: 75px" src="{{ asset('bundles/app/image/logos/logo-unicamp-white.png') }}">
                </a>
                <a  href="htttp://www.fcm.unicamp.br" class="p-2">
                    <img class="fcm" style="height: 75px" src="{{ asset('bundles/app/image/logos/logo-fcm.png') }}">
                </a>
            </div>
        </div>

        <div class="main-menu">
            <div class="d-none d-lg-block justify-content-between align-items-center pb-2">
                {% include '@App/Theme/block.menu.html.twig' %}
            </div>

            <div class="d-block d-lg-none">
                <nav class="navbar navbar-dark ">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <form id="search" action="https://drpixel.fcm.unicamp.br/" method="get">
                        <div class="d-flex align-items-stretch">
                            <input type="text" class="form-control" name="q" id="q" placeholder="Buscar">
                        </div>
                    </form>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="d-flex flex-column">
                        {% include '@App/Theme/block.menu.html.twig' %}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}
