{% import ':default:macro.html.twig' as macros %}

<!-- Following Menu -->
<div class="ui top fixed hidden menu masthead">
    <div class="ui container">
        <a href="{{ path('home') }}" class="item">
            <img src="{{ asset('bundles/app/image/logos/favicon.ico') }}">
        </a>
        {% if content is defined and content is not empty and content.id is not empty %}
            {{ macros.menu_item(path('content_path', {'path' : content.path}), content.titulo,'item header') }}

            {{ macros.menu_item('#author', 'Autor','item header') }}
            {{ macros.menu_item('#citation', 'Cite esse artigo','item header') }}
            {% if related|default(null) is not empty %}
                {{ macros.menu_item('#viewmore', 'Conteúdos relacionados','item header') }}
            {% endif %}


        {% else %}
            {% include '@App/Theme/block.menu.html.twig' %}
        {% endif %}
    </div>
</div>