{% import 'v2/default/macro.html.twig' as macros %}


<section class="mb-4">
    {{ macros.blockTitle('Conteúdo selecionado para a graduação em Medicina', path('tag_path',{'path' : 'graduacao'})) }}
    <div class="">
        {% for content in graduacao %}
            {{ macros.contentMediaLeft(content, true) }}
        {% endfor %}
    </div>
    {{ macros.viewMore(path('tag_path',{'path' : 'graduacao'})) }}
</section>

<section class="mb-4">
    {{ macros.blockTitle('Laudos', path('tag_path',{'path' : 'laudos'})) }}
    <div class="">
        {% for content in laudos %}
            {{ macros.contentMediaLeft(content, true) }}
        {% endfor %}
    </div>
    {{ macros.viewMore(path('tag_path',{'path' : 'laudos'})) }}
</section>
