{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    {{ macros.blockTitle('Mais acessados', path('content_index', {'type' : 'top'})) }}
    <div class="ui items">
        {% for content in topContents %}
            {{ macros.contentMediaLeft(content) }}
        {% endfor %}
    </div>

    {{ macros.viewMore(path('content_index', {'type' : 'top'})) }}

</section>
