{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    {{ macros.blockTitle('Casos',path('content_index', {'type' : 'casos'})) }}
    <div class="">
        {% for content in casos|slice(0,4) %}
            {{ macros.contentMediaLeft(content, true) }}
        {% endfor %}

        {{ macros.viewMore(path('content_index', {'type' : 'casos'})) }}
    </div>

</section>
