{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">

    <div id="slider-wrapper" >
        <div class="slider">
            {% for campaign in slideshows %}
                <a href="{{ campaign.redirect }}" >
                    <img class="{{ loop.index }}"
                         title="{{ campaign.title }}"
                         src="{{ vich_uploader_asset(campaign,'slideshow')}}">
                </a>
            {% endfor %}

        </div>
    </div>

</section>
