{% import 'v2/default/macro.html.twig' as macros %}

{% if courses is not empty %}
    <section class="mb-4">
        {{ macros.blockTitle('Cursos online',path('adrpixel_index')) }}
        <div class="ui items">
            {% for course in courses %}
                <div class="blockLarge block-separator">
                    <div class="blockLarge block-separator">
                        <a class="h4" href="{{ path("adrpixel_course_show", {'id' : course.id}) }}">
                        <img class="img-fluid"
                             src="{{ vich_uploader_asset(course,'imageFile') }}">
                        </a>

                        <a class="h5" href="{{ path("adrpixel_course_show", {'id' : course.id}) }}">
                            {{ course.title }}
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}




