{% import ':default:macro.html.twig' as macros %}
{% if casodasemana is not empty %}
<div class="card ui fluid blue">
    <div class="content">
        <span class="header">
            <img class="ui image mini right floated" src="{{ asset('bundles/app/image/icons8-casosrecentes.png') }}">
            Caso da semana
        </span>
        <div class="">
            {% for content in casodasemana %}
                <div class="segment ui vertical">
                    {{ macros.thumbnail(content) }}

                    <a class="" href="{{ path("content_caso_show", {'content' : content.id}) }}">
                        <span class="ui horizontal label basic">{{ content.typeLabel }}</span>{{ content.caso.resume }}
                    </a>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}