{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    {{ macros.blockTitle('Radiologia neonatal', path('tag_path',{'path' : 'radiologia-neonatal'})) }}
    <div class="">
        {% for content in neocasos|slice(0,4) %}
            {{ macros.contentMediaLeft(content, false) }}
        {% endfor %}
        {{ macros.viewMore(path('tag_path',{'path' : 'neonatologia'})) }}

    </div>

</section>
