{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    <div class="mb-3">
        {{ macros.blockTitle('Últimas atualizações',path('content_index',{'type':'recent'})) }}
    </div>
    {% for content in latest|slice(0,4) %}
        {{ macros.contentMediaLeft(content) }}
    {% endfor %}
</section>

