<div class="block-especialidades blockCounter">

    <div class="block-border block-title">
    <a class="h1" href="{{ path('tag_tipo',{'tipo' : 4}) }}">Métodos de imagem</a>
    </div>
    <div class="ui link item">
        {% for tag in metodos %}
            <div class="item ">
                <div class="ui horizontal statistic">
                    <div class="value">
                        <a class="counter" href="{{ path('tag_path',{'path' : tag.id}) }}" >
                            {{ tag.contentTags|length }}
                        </a>
                    </div>
                    <div class="label">
                        <a class="h2" href="{{ path('tag_path',{'path' : tag.id}) }}" >
                            {{ tag.name }}
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="sixteen wide column view-more">
        <a href="{{ path('especialidade_index') }}">ver mais métodos de imagem<i class="ui icon angle right"></i></a>
    </div>
</div>