{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    {{ macros.blockTitle('Cursos presenciais na Unicamp',path('evento_index')) }}
    <div class="">
    {% for evento in eventos %}
        <div class="mb-2">

            <img class="ui image" src="{{ path('liip_imagine_filter',{
                'filter':'sidebarImage','path': 'uploads/'~ evento.fileName }) }}">

            <div class="content">
                <a class="h5" href="{{ path("evento_show", {'id' : evento.id}) }}">
                    {{ evento.title }}
                </a>
                <div class="text-muted">
                    Período de {{ evento.dataInicio|date('d/m/Y') }} até {{ evento.dataFim|date('d/m/Y') }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>


