{% import ':default:macro.html.twig' as macros %}

<div class="block-separator">
    {{ macros.blockTitle('Testes',path('quiz_index')) }}
    <div class="ui link item">
        {% for quiz in quizes %}
            <div class="blockLarge block-separator">
                {{ macros.thumbnail(quiz.content) }}

                <div class="content">
                    <a class="h2" href="{{ path("quiz_answer_start", {'quiz' : quiz.id}) }}">
                        {{ quiz.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="sixteen wide column view-more">
        <a href="{{ path('quiz_index') }}">ver mais cursos online<i class="ui icon angle right"></i></a>
    </div>
</div>

