{% import 'v2/default/macro.html.twig' as macros %}

<section class="mb-4">
    {{ macros.blockTitle('Assuntos mais acessados', path('content_index', {'type' : 'top'})) }}
    <div class="toptags">

        {# total #}
        {% for counter in topTags['total']|slice(0,2) %}
            {{ macros.tag(counter.tag) }}
        {% endfor %}

        {# Por ano #}
        {% for counter in topTags['year']|slice(0,2) %}
            {{ macros.tag(counter.tag) }}
        {% endfor %}

        {# Por mes #}
        {% for counter in topTags['month']|slice(0,2) %}
            {{ macros.tag(counter.tag) }}
        {% endfor %}

        {# Por semana #}
        {% for counter in topTags['week']|slice(0,2) %}
            {{ macros.tag(counter.tag) }}
        {% endfor %}
    </div>

</section>