{% extends 'v2/base.html.twig' %}

{% block headjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js" integrity="sha512-rwjQKesPaeXWoFNcTVz8rPBqsU06+JhcsudIQfpUiOhxGHqymn9aSJpG7NPu4MZJ7V32Cq4YjT1qV5vVngYA1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css" integrity="sha512-nabQX023kkkPP+H9ptetp5lK0CQ4rv6lG/slhMi5eONKfC1fI4lClHXubH6VP6PgXExycfzlAQHufX1oHMzUew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            $('.slider').nivoSlider({
                pauseOnHover: true,
                pauseTime: 10000,
                randomStart: true,
                effect: 'fade',
                animSpeed: 0,
                prevText: '<i class=""><</i>',
                nextText: '<i class="">></i>',
            });
        });
    </script>
{% endblock %}



{% block main %}

    <div id="home2">
        <div class="row">
            <div class="col-md-5">
                {% include '@App/Home2/block.carousel.html.twig' %}
                {% include '@App/Home2/block.latest.html.twig' %}
                {% include '@App/Home2/block.topcontent.html.twig' %}
                {% include '@App/Home2/block.neonatologia.html.twig' %}

            </div>
            <div class="col-md-4">
                {% include '@App/Home2/block.graduacao.html.twig' %}
                {% include '@App/Home2/block.casos.html.twig' %}

            </div>
            <div class="col-md-3">
                {% include '@App/Home2/block.eventos.html.twig' %}
                {% include '@App/Home2/block.course.html.twig' %}
                {% include '@App/Home2/block.top.html.twig' %}
            </div>
        </div>


        {#<div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-6 ">

                    </div>
                    <div class="col-lg-6">
                        {% include '@App/Home2/block.quiz.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>#}
    </div>
{% endblock %}