{% extends 'base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}{{ form_row(form.path) }}
    {{ form_row(form.tagType) }}
    {{ form_row(form.children) }}

    {{ macros.button_submit() }}

    {{ form_end(form) }}


{% endblock %}
