{% extends 'base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}


<div class="table-responsive">
    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="ui table table-striped dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Qtde</th>
            <th>Semana</th>
            <th>Mês</th>
            <th>Ano</th>
            </thead>
            {% for tag in tags %}
                <tr>
                    <td>
                        {{ tag.tagType.name }}
                    </td>
                    <td>
                        <a href="{{ path('admin_tag_edit', {'id' : tag.id}) }}">{{ tag.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path('tag_path',{'path' : tag.path}) }}" target="_blank">
                        {{ tag.contentTags |length }}
                        </a>
                    </td>
                    <td>{{ tag.counters.first.weekCounter |default(0)}}</td>
                    <td>{{ tag.counters.first.monthCounter |default(0)}}</td>
                    <td>{{ tag.counters.first.yearCounter |default(0)}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block customjs %}

<script>

    $(document).ready(function() {
        $('#data-table-basic').DataTable({
            "order": [[ 1, "asc" ]],
            "pageLength": 20
        });
    });
</script>
{% endblock %}