{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block main %}
{% include '@App/Theme/block.title.html.twig' %}
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            {% for tag in tags %}
                <a class="{% if loop.first %}active{% endif %} item" data-tab="{{ tag.path }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="twelve wide stretched column">
    {% for tag in tags %}
        <div class="ui {% if loop.first %}active{% endif %} tab " data-tab="{{ tag.path }}">
            {% if is_granted('ROLE_ADMIN') %}
                {{ macros.button(path('admin_tag_edit',{'id' : tag.id, 'back' : app.request.uri}),'Editar ' ~ tag.name,'basic secondary') }}
                {{ macros.button(path('admin_tag_delete',{'id' : tag.id, 'back' : app.request.uri}),'Excluir ' ~ tag.name,'basic secondary') }}
                <div class="ui divider"></div>
            {% endif %}
            <div class="ui three cards">
            {% for contentTag in tag.contentTags %}
                {{ macros.contentCard(contentTag.content) }}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block customjs %}
<script>
    $('.menu .item').tab();
</script>
{% endblock %}