{% extends 'base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}


    <div class="row ">
    {% for content in contents %}
        <div class="col-md-6">
            {{ macros.contentList(content) }}
        </div>

    {% endfor %}
    </div>
{% endblock %}