<div class="ui vertical steps">
    <div class="step">
        <img class="ui image avatar" src="{{ asset('bundles/app/image/icons8-help-64.png') }}">
        <div class="content">
            <div class="title">{{ quiz.title }}</div>
        </div>
    </div>
    {% if quiz.term is not empty %}
        <div class="step {% if step == 0 %}active{% else %} completed {% endif %}">
            <i class="info icon"></i>
            <div class="content">
                <div class="">Orientações</div>
            </div>
        </div>
    {% endif %}
    {% if quiz.preQuiz %}
        <div class="step {% if step == 1 %}active{% endif %} {% if step > 1 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Questões pré-teste</div>
            </div>
        </div>
    {% endif %}
    {% if quiz.content is not empty %}
        <div class="step {% if step == 2 %}active{% endif %} {% if step > 2 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Conteúdo</div>
            </div>
        </div>
    {% endif %}

        <div class="step {% if step == 3 %}active{% endif %} {% if step > 3 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Questões</div>
                {% if questionTotal is defined %}
                    <strong>{{ questionNumber }} de {{ questionTotal }}</strong>
                {% endif %}
            </div>
        </div>
    {% if quiz.feedback %}
        <div class="step {% if step == 4 %}active{% endif %} {% if step > 4 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Feedback</div>
            </div>
        </div>
    {% endif %}
    {% if quiz.preQuiz %}
        <div class="step {% if step == 5 %}active{% endif %} {% if step > 5 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Resultado</div>
            </div>
        </div>
    {% endif %}
    {% if quiz.preQuiz %}
        <div class="step {% if step == 6 %}active{% endif %} {% if step > 6 %}completed {% endif %}">
            <i class="icon angle right"></i>
            <div class="content">
                <div class="">Questões de fixação</div>
            </div>
        </div>
    {% endif %}
    {% if quiz.preQuiz %}
        <div class="step {% if step == 7 %}active{% endif %} {% if step > 7 %}completed {% endif %}">
            <i class="icon certificate"></i>
            <div class="content">
                <div class="">Certificado</div>
            </div>
        </div>
    {% endif %}

</div>