{% extends 'Quiz/base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}

    {% if quiz.content is not empty %}
        <h2>{{ quiz.content.titulo|raw }}</h2>
        {{ macros.showYoutubeEmbed(quiz.content) }}
        {{ quiz.content.body|raw }}
    {% endif %}


    <div class="ui two column stackable center aligned page grid">
        {% if not is_granted('ROLE_USER') %}
            <div class="column wide">
                {{ macros.button(path('login'),'Realizar login','primary',null, 'sign in alternate')  }}
            </div>
        {% endif %}
        <div class="column wide">
            {{ macros.button_submit('Continuar','positive')  }}
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}


{% block customjs %}
    <script>
        $(document).ready(function() {
            $('#termbutton').on('click', function () {

                $('.ui.modal').modal({
                    onApprove : function () {
                        $('form').submit();
                    }
                })
                    .modal('show');
            });


        });

    </script>
{% endblock %}