{% extends 'Quiz/base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}
    {% for question in quiz.feedbacks %}
        {{ macros.question(question,answer) }}
    {% endfor %}
    {{ macros.button(path('quiz_answer_finish', {'quiz' : quiz.id,
        'answer' : answer.id }),'Finalizar') }}
{% endblock %}

{% block customjs %}

{% endblock %}

