{% extends 'Quiz/base.html.twig' %}

{% import 'default/macro.html.twig' as macros %}

{% block content %}
    {% if quiz.fixacao %}
    <div class="ui icon message positive">
        <img class="ui image tiny" src="{{ asset('bundles/app/drpixel/enter.png') }}">
        <div class="content">
            <div class="header">
            Obrigado por concluir nosso teste! Mas queremos saber um pouco mais.
            </div>
            <p>Em uma semana enviaremos um lembrete para você refazer o teste e verificar o quanto do conteúdo você fixou.</p>
            <p>Verifique abaixo seu desempenho no pré-teste e após ler o conteúdo</p>
        </div>

    </div>
    {% endif %}
    <div class="ui feeds">
        {% if quiz.preQuiz %}
            <h2>Pré-Teste</h2>
            {% for answerItem in answer.getItems(0) %}
                {{ macros.showAnswerItem(answerItem) }}
            {% endfor %}
        {% endif %}
        <div class="ui divider"></div>
        <h2>Teste</h2>
        {% for answerItem in answer.getItems(1) %}
            {{ macros.showAnswerItem(answerItem) }}
        {% endfor %}
    </div>
    <div class="ui divider"></div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column wide">
            {{ macros.button(back,'Voltar','basic','', 'left arrow')  }}
        </div>
    </div>
{% endblock %}