{% extends 'Quiz/base.html.twig' %}
{% block content %}
    <table class="ui table">
        <thead>
        <th>Data</th>
        <th>Usuário</th>
        <th>Acertos</th>
        <th>Erros</th>
        </thead>
    {% for answer in quiz.answers %}
        <tr>
            <td>{{ answer.created|date('d/m/Y H:i') }}</td>
            <td>{{ answer.user.name|default('anonônimo') }}</td>
            <td>{{ answer.getCorrects }}/{{ quiz.questions|length }}</td>
            <td>{{ answer.getIncorrects }}/{{ quiz.questions|length }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
