{% extends 'Quiz/base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}
    {% for question in quiz.questions %}
        {{ macros.question(question, answer) }}
    {% endfor %}
    {{ macros.button(path('quiz_answer_content', {
        'quiz' : quiz.id,
        'back' : app.request.requestUri,
        'answer' : answer.id
    }),'Continuar') }}
{% endblock %}

{% block customjs %}

{% endblock %}

