{% extends 'Quiz/base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% form_theme form _self %}

{%- block radio_widget -%}

        {% set attr = attr|merge({class: (attr.class|default('') ~ ' hidden')|trim}) %}

        <div class="ui radio checkbox">
            <input type="radio" {{ block('widget_attributes') }}
                   v-model="questionItem{{ form.vars.value }}"
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %} />
            <label>{{ form.vars.label|raw }}</label>
        </div>

{%- endblock radio_widget %}

{% block content %}

    {{ question.text|raw }}
    <br/>

    <div id="resposta" class="hide">
        {{ form_start(form) }}

        {{ form_row(form.answer) }}


        {% for questionItem in question.itens %}
        <div v-if="feedback{{ questionItem.id }}" class="ui message icon {% if questionItem.correct %}positive{% else %}negative{% endif %}">

            {% if questionItem.correct %}
                <img class="ui image small" src="{{ asset('bundles/app/drpixel/happy.png') }}">
            {% else %}
                <img class="ui image small" src="{{ asset('bundles/app/drpixel/sad.png') }}">
            {% endif %}
            <div class="content">
                <div class="header">Resposta {% if questionItem.correct %}correta{% else %}incorreta{% endif %}</div>
                <p>{{ questionItem.feedback }}</p>
            </div>

        </div>
        {% endfor %}

        <div class="hide">
        {{ form_row(form.time,{'attr' : {
            'v-model':'timerCounter'
        }}) }}
        </div>

        <a href="{{ back }}" class="ui button icon labeled"><i class="icon arrow left"></i>Voltar</a>
        <button  v-if="showResponderButton" v-on:click="responder" class="ui button positive">Responder</button>
        <button type="submit" v-if="showNextButton" class="ui right labeled icon button primary">Próximo <i class="icon arrow right"></i></button>
        {{ form_end(form) }}
    </div>
    <br/>

{% endblock %}

{% block headjs %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block customjs %}
<script>
    $(document).ready(function () {$('#resposta').removeClass('hide');});

    var questions = new Vue({
        el: '#resposta',
        data: {
            timerCounter: 0,
            showNextButton: 0,
            showResponderButton: 1,
            disableAnswer: 0,
            {% for questionItem in question.itens %}
            questionItem{{ questionItem.id }}: 0,
            feedback{{ questionItem.id }}: 0,
            {% endfor %}
        },
        mounted: function(){
            this.timer();
        },
        methods: {
            timer: function(){
                this.timerCounter = setInterval( (element) => {
                    this.timerCounter++;
            }, 1000 )},
            responder: function(event){
                if(event){
                    event.preventDefault();
                    {% for questionItem in question.itens %}
                        if(this.questionItem{{ questionItem.id }}){
                            this.feedback{{ questionItem.id }} = 1;
                            this.showResponderButton = 0;
                            this.showNextButton = 1;
                        }
                    {% endfor %}
                    if(this.showNextButton == 0){
                        alert('Selecione uma resposta');
                    }
                }
            }
        }
    });


</script>
{% endblock %}

