{% extends 'Quiz/base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}



{% block content %}
    {% set label = 'Continuar' %}
    {% if quiz.body is not empty %}
        <h2>Orientação</h2>
        {{ quiz.body|raw }}
    {% endif %}

    {% if quiz.term is not empty %}
        {% set label = 'Aceito, continuar' %}
        <h2>Termo</h2>
        {{ quiz.term|raw }}
    {% endif %}

    {{ form_start(form) }}
    {{ macros.button(path('home'),'Voltar','secondary','')  }}
    {{ macros.button_submit(label,'positive','')  }}
    {{ form_end(form) }}
{% endblock %}