<div class="card ui fluid">
    <div class="content">
        <span class="header">
            Cursos Prensenciais
        </span>
        <div class="">
            {% for evento in eventos %}
                <div class="ui segment vertical">
                    <a class="" href="{{ path("evento_show", {'id' : evento.id}) }}">
                        <img class="ui fluid image" src="{{ vich_uploader_asset(evento,'file') }}">
                        <div class="title">{{ evento.title }}</div>
                    </a>
                    <small class="date">Duração do curso: {{ evento.dataInicio|date('d/m/Y') }} a {{ evento.dataFim|date('d/m/Y') }}</small>
                    <small class="local">{{ evento.local }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


