{% extends 'base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.imageFile) }}
        </div>
    </div>


    {{ macros.button_submit() }}
    {{ form_end(form) }}

{% endblock %}
