{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}
    <table class="ui table">
        <thead>
            <th>Nome</th>
            <th>Imagem</th>
        </thead>
        <tbody>
        {% for avental in aventals %}
            <tr>
                <td>
                    <a href="{{ path('admin_avental_edit',{'id' : avental.id}) }}">
                        {{ avental.name }}
                    </a>

                </td>
                <td>
                    <img style="max-width: 60px" src="{{ vich_uploader_asset(avental,'imageFile') }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
