{% extends 'base.admin.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="ui segment">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.type)}}
            </div>
            <div class="col-md-4">
                {{ form_row(form.status)}}
            </div>
            <div class="col-md-4">
                {{ form_row(form.imageFile)}}
            </div>
        </div>
        {{ macros.button_submit() }}
        {{ form_end(form) }}
    </div>
    {% endif %}
    <div class="ui segment">
        <div class="row">
            <div class="col-md-4">
                <strong>Tipo:</strong><br/>
                {{ courseUser.typeLabel }}
            </div>
            <div class="col-md-4">
                <strong>Status:</strong><br/>
                {{ courseUser.statusLabel }}
            </div>
            <div class="col-md-4">
                <strong>Certificado:</strong><br/>

                {% if courseUser.imageFile is not empty %}
                <a class="btn btn-primary" target="_blank" href="{{ vich_uploader_asset(courseUser,'imageFile') }}">
                    Baixar certificado
                </a>
                {% else %}
                    <button href="#" class="btn btn-secondary" disabled>Não disponível</button>
                {% endif %}

            </div>
        </div>
        <p><strong>Progresso</strong></p>
        {% for courseProgress in courseUser.courseProgresses %}
            {% if courseProgress.status == 'C' %}
                <i class="icon circle green"></i>
            {% else %}
                <i class="icon circle outline"></i>
            {% endif %}
            {{ courseProgress.courseContent.nome }}<br/>
        {% endfor %}
    </div>

{% endblock %}
