<div class="right menu">
    {% if is_granted('ROLE_USER') %}
        <a class="item" href="{{ path('user_profile') }}">
            <img class="ui avatar image" src="{{ app.user.picture }}">
            <span>{{ app.user.name }}</span>
        </a>

    {% endif %}

{% if is_granted('ROLE_USER') %}
    <a class="item ml-2" href="{{ path('logout') }}" ><i class="ui icon sign out alternate"></i> Sair</a>
{% endif %}
</div>
