{% extends 'base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    {{ form_start(form) }}
    {{ macros.button(back, 'Voltar') }}
    {{ macros.button_submit('Excluir','red') }}
    {{ form_end(form) }}
{% endblock %}