<!-- Flash messages -->
{% for flash_message in app.session.flashBag.get('success') %}<div class="ui message positive"><i class="close icon"></i>{{ flash_message }}</div>{% endfor %}
{% for flash_message in app.session.flashBag.get('error') %} <div class="ui message negative"><i class="close icon"></i>{{ flash_message }}</div>{% endfor %}
{% for flash_message in app.session.flashBag.get('info') %} <div class="ui message blue"><i class="close icon"></i>{{ flash_message }}</div>{% endfor %}
{% for flash_message in app.session.flashBag.get('warning') %} <div class="ui message yellow"><i class="close icon"></i>{{ flash_message }}</div>{% endfor %}