{% import ':default:macro.html.twig' as macros %}
<div class="footer pt-5 pb-5">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="d-flex flex-column">
                    {% include '@App/Theme/block.menu.html.twig' %}
                    {{ macros.menu_item(path('other_contato'),'Contato') }}

                    {% include '@App/Theme/block.menu.right.html.twig' %}

                    {% if not is_granted('ROLE_USER') %}
                        <a class="mt-5" href="{{ path('login') }}" >
                            <i class="ui icon sign in alternate"></i>Entrar
                        </a>
                    {% else %}
                        <a class="item" href="{{ path('logout') }}">Sair <i class="sign out alternate icon"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="">Apoio</div>
                <div class="d-flex align-items-center">
                    <a href="htttp://www.caism.unicamp.br" class="pr-2">
                        <img class="img-fluid" src="{{ asset('bundles/app/image/logos/logocaism.png') }}"></a>

                    <a href="htttp://www.hc.unicamp.br" class="pr-2">
                        <img class="img-fluid" src="{{ asset('bundles/app/image/logos/logohc.png') }}"></a>
                </div>
                <div class="d-flex align-items-center">
                    <a href="htttp://www.fcm.unicamp.br" class="pr-2">
                        <img class="img-fluid" src="{{ asset('bundles/app/image/logos/logofcm.png') }}">
                    </a>

                    <a href="htttp://www.unicamp.br" class="pr-2">
                        <img class="img-fluid" src="{{ asset('bundles/app/image/logos/logounicamp.png') }}">
                    </a>
                </div>

            </div>

        </div>
        <p class="small text-muted mt-2">
            Dr. Pixel - FCM - Unicamp está licenciado com uma Licença Creative Commons -
            Atribuição-NãoComercial 4.0 Internacional<br/>
        </p>
    </div>

</div>