{%  import _self as macros %}
{% macro button_submit(text, type, class, lefticon, righticon) %}
    <button type="submit" class="ui button {{ type|default('positive') }} {{ class|default('') }} {% if righticon is not empty %} right {% endif %} {% if lefticon is not empty or righticon is not empty %}labeled icon{% endif %}">
        {% if lefticon is not empty %}<i class="icon {{ lefticon }} {{ type|default('positive') }}"></i>{% endif %}
        {{ text|default("Salvar") }}
        {% if righticon is not empty %}<i class="right icon {{ righticon }} {{ type|default('positive') }}"></i>{% endif %}
    </button>
{% endmacro %}

{% macro button(path, text, type, class, lefticon, righticon) %}
    <a href="{{ path }}" class="ui button {{ type|default('') }} {{ class|default('') }} {% if righticon is not empty %} right {% endif %} {% if lefticon is not empty or righticon is not empty %}labeled icon{% endif %}">
        {% if lefticon is not empty %}<i class="icon {{ lefticon }} {{ type|default('positive') }}"></i>{% endif %}
        {{ text|default("Salvar") }}
        {% if righticon is not empty %}<i class="right icon {{ righticon }} {{ type|default('positive') }}"></i>{% endif %}
    </a>
{% endmacro %}

{% macro menu_item(path, label, class, icon) %}
    {% if app.request.requestUri == path %}
        {% set active = 'active' %}
    {% endif %}
    <a href="{{ path }}" class="{{ active|default('') }} {{ class|default('item') }}">
        {% if icon is not empty %}<i class=" icon {{ icon }} "></i>{% endif %}
        {{ label }}
    </a>
{% endmacro %}

{# Imprime questoes #}
{% macro question(question, answer, answerType) %}
    <div class="ui segments">

        <div id="questionText" class="ui segment">
            {{ question.text|raw }}
        </div>

        {% for questionItem in question.itens %}
            <div class="ui segment">
                <div class="ui radio checkbox">
                    {% if answer is not empty %}
                    <input id="ajax_answer_prequiz_{{ questionItem.id }}" type="radio"
                           name="{{ question.id }}"  tabindex="0" class="hidden ajax_answer_prequiz"
                           questionItem="{{ questionItem.id }}"
                           answer="{{ answer.id }}"
                           quiz="{{ answer.quiz.id }}"
                           tipo="{{ answerType|default(1) }}"
                           {% set answerItem = answer.getAnswerItem(question,answerType|default(1)) %}
                           {% if answerItem is not empty and answerItem.questionItem.id == questionItem.id %}
                               checked
                           {% endif  %}
                    >
                    {% endif %}
                    <label>{{ questionItem.text | raw }}</label>
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="ui segment">
                <a href="{{ path('admin_question_edit', {'id' : question.id}) }}">editar questão</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro showAnswerItem(answerItem) %}
    <div class="ui segments">
        {% set question = answerItem.questionItem.question %}
        {% set answer = answerItem.answer %}
        <div class="ui segment">
            {{ question.text|raw }}
        </div>

        {% for questionItem in question.itens %}
            {% if questionItem.correct %}
                {% set class="bg-green" %}
            {% else %}
                {% set class="" %}
            {% endif %}
            <div class="ui segment {{ class }}">
                {% if answerItem.questionItem.id == questionItem.id %}

                    {% if questionItem.correct %}
                        {% set class="green" %}
                    {% else %}
                        {% set class="red" %}
                    {% endif %}
                    <span class="basic ui label horizontal {{ class }}">sua resposta</span>
                {% endif %}
                {{ questionItem.text | raw }}

            </div>
        {% endfor %}

    </div>
{% endmacro %}

{% macro homeSegment(content) %}
    <div class="segment ui vertical">
        {{ macros.thumbnail(content) }}

        <a class="" href="{{ path("content_path", {'path' : content.path}) }}">
            <span class="ui horizontal label basic">{{ content.typeLabel }}</span>{{ content.titulo }}
        </a>


        <div class="meta">
            <small class="date">publicado em {{ content.created|date('d/m/Y') }}</small>
        </div>
    </div>
{% endmacro %}

{% macro thumbnail(content) %}
    {% if content.imagem is not empty %}
        <img class="ui thumbnail image left floated" src="{{ path('liip_imagine_filter',{
            'filter':'thumbnail','path': content.imagem }) }}">
    {% endif %}

    {% if content.file is not empty and content.imagem is empty %}
        {#
        <img class="ui image thumbnail left floated" src="{{ path('liip_imagine_filter',{
                'filter':'thumbnail','path': vich_uploader_asset(content,'file') }) }}">
                #}
        <img class="ui image thumbnail left floated" src="{{
        path('liip_imagine_filter',{'filter':'thumbnail','path': '/uploads/' ~ content.fileName }) }}">
    {% endif %}

    {% if content.urlVideo is not empty and content.file is empty %}
        <img class="ui image youtube thumbnail left floated" src="https://img.youtube.com/vi/{{ content.getVideoId }}/default.jpg">
    {% endif %}
{% endmacro %}

{% macro homeTeste(quiz) %}
    <div class="segment ui vertical">
        {% if quiz.content is not empty %}
            {% set content = quiz.content %}

            {% if content.imagem is not empty %}
                <img class="ui fluid image tiny left floated" src="{{ content.imagem }}">
            {% endif %}

            {% if content.file is not empty %}
                <img class="ui fluid image tiny left floated" src="{{ vich_uploader_asset(content,'file')| imagine_filter('my_thumb') }}">
            {% endif %}

            {% if content.urlVideo is not empty %}
                <img class="ui fluid image tiny left floated" src="https://img.youtube.com/vi/{{ content.getVideoId }}/default.jpg">
            {% endif %}
        {% endif %}

        <a class="" href="{{ path("quiz_answer_start", {'quiz' : quiz.id}) }}">
            {{ quiz.title }}
        </a>


        <div class="meta">
            <span class="description">{{ quiz.resume }}</span>
        </div>
    </div>
{% endmacro %}

{% macro contentCard(content) %}
    <div class="ui card">
        {% if content.imagem is not empty or content.file is not empty or content.urlVideo is not empty %}
            <a href="{{ path('content_path', {'path' : content.path}) }}" class="image">

        {% if content.imagem is not empty %}
            <img src="{{ content.imagem }}">
        {% endif %}
        {% if content.file is not empty %}
            <img src="{{ vich_uploader_asset(content,'file') }}">
        {% endif %}

        {% if content.urlVideo is not empty %}
            <img src="https://img.youtube.com/vi/{{ content.getVideoId }}/default.jpg">
        {% endif %}
            </a>
        {% endif %}

        <div class="content">
            <a href="{{ path('content_path', {'path' : content.path}) }}" class="header">
                {{ content.titulo }}
            </a>
        </div>
    </div>
{% endmacro %}

{% macro showYoutubeEmbed(content) %}
    {% if content.urlVideo is not empty %}
        <div class="text-center">
            <iframe  width="100%" height="315" src="{{ content.urlVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>


    {% endif %}
{% endmacro %}

{% macro blockTitle(title, more_link) %}
    <div class="item block-border block-title">
        <a class="font font-weight-lighter h3" href="{{ more_link }}">
            {{ title }}
        </a>
    </div>
{% endmacro %}

{% macro itemHomeSmall(content) %}
    {% import _self as macros %}
    <div class="item blockSmall">
        <a class="ui image" href="{{ path("content_path", {'path' : content.path}) }}">
        {{ macros.thumbnail(content) }}
        </a>
        <div class="top aligned content">
            <div class="content">
                <a class="h4 bold" href="{{ path("content_path", {'path' : content.path}) }}">
                    {{ content.titulo }}
                </a>
            </div>
            {{ macros.published(content) }}
        </div>
    </div>
{% endmacro %}

{% macro itemHomeLarge(content) %}
    {% import _self as macros %}
    <div class="blockLarge">

        <a href="{{ path("content_path", {'path' : content.path}) }}">
        {% if content.imagem is not empty %}
            {% set image = content.imagem %}
            <img class="ui fluid image"
                 src="{{path('liip_imagine_filter',{'filter':'homeLarge','path': '/uploads/' ~ content.imagem }) }}">
        {% endif %}

        {% if content.file is not empty %}
            {% set image = vich_uploader_asset(content,'file') %}
            <img class="ui fluid image"
                 src="{{path('liip_imagine_filter',{'filter':'homeLarge','path': '/uploads/' ~ content.file.fileName }) }}">
        {% endif %}

        {% if content.urlVideo is not empty %}
            {% set image = "https://img.youtube.com/vi/" ~ content.getVideoId ~ "/hqdefault.jpg" %}
            <img class="ui fluid image" src="{{ image|default('') }}">
        {% endif %}
        </a>

        <div class="content">
            <a class="h3 bold" href="{{ path("content_path", {'path' : content.path}) }}">
                {{ content.titulo }}
            </a>
            {{ macros.published(content, false) }}
        </div>
    </div>
{% endmacro %}

{% macro published(content, showAuthor) %}
    {% import _self as macros %}
    <div class="c2 font-size-080 mb-2">
        {% if showAuthor and content.createdBy is not empty %}
            publicado por {{ content.createdBy.name }}. {{ macros.month(content.created) }} de {{ content.created|date('Y') }}.
        {% else %}
            {{ macros.month(content.created) }} de {{ content.created|date('Y') }}.
        {% endif %}
    </div>
{% endmacro %}

{% macro month(data) %}
{% if data|date('m') == 1 %}Jan{% endif %}
{% if data|date('m') == 2 %}Fev{% endif %}
{% if data|date('m') == 3 %}Mar{% endif %}
{% if data|date('m') == 4 %}Abr{% endif %}
{% if data|date('m') == 5 %}Mai{% endif %}
{% if data|date('m') == 6 %}Jun{% endif %}
{% if data|date('m') == 7 %}Jul{% endif %}
{% if data|date('m') == 8 %}Ago{% endif %}
{% if data|date('m') == 9 %}Set{% endif %}
{% if data|date('m') == 10 %}Out{% endif %}
{% if data|date('m') == 11 %}Nov{% endif %}
{% if data|date('m') == 12 %}Dez{% endif %}
{% endmacro %}

{% macro newWindow(path, label, class) %}
    <span class="{{ class|default('') }} new-window"  onclick="window.open('{{ path }}', '_blank', 'location=yes,height=800,width=800,scrollbars=yes,status=yes');">
        <i class="ui icon external alternate"></i>
        {{ label }}
    </span>
{% endmacro %}

{% macro jscollection(label, class) %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.{{ class|default('collection') }}').collection({
                up: '',down: '',add: '<a href="#" class="ui button basic blue">incluir {{ label|default('') }}</a>',
                remove: '<a href="#" class="ui button basic red">excluir {{ label|default('') }}</a>',
            });
        })

    </script>
{% endmacro %}

{% macro tag(tag) %}
    <a href="{{ path('tag_path',{'id' : tag.id}) }}" class="ui label basic">
        {{ tag.name }}
    </a>
{% endmacro %}