<div class="card ui fluid blue">
    <div class="content">
        <span class="header">
            <a href="{{ path('evento_index') }}">
                <img class="ui image mini right floated" src="{{ asset('bundles/app/image/icons8-today-64.png') }}">
                Eventos
            </a>
        </span>
        <div class="">
            {% for evento in eventos %}
                <div class="ui segment vertical">
                    <a class="" href="{{ path("evento_show", {'id' : evento.id}) }}">
                        <img class="ui fluid image" src="{{ vich_uploader_asset(evento,'file') }}">
                        <div class="title">{{ evento.title }}</div>

                    </a>

                    <small class="date">A partir de {{ evento.dataInicio|date('d/m/Y') }} até {{ evento.dataFim|date('d/m/Y') }}</small>
                    <small class="local">{{ evento.local }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


