{% if courses is not empty %}
<div class="ui card fluid pink">
    <div class="content">
        <div class="header">
            <a href="{{ path('course_index', {'type' : 'top'}) }}">
                Cursos
            </a>
        </div>

        <div class="segment ui vertical">
            <div class="ui grid two column">
            {% for course in courses %}
                    <div class="column wide">
                        <a class="" href="{{ path('course_show',{'id' : course.id}) }}">{{ course.title }}</a>
                    </div>
            {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endif %}