{% import ':default:macro.html.twig' as macros %}
    <div class="ui card fluid red">
        <div class="content">
            <div class="header">
                <a href="{{ path('content_index', {'type' : 'recent'}) }}">
                    Últimas atualizações
                </a>
            </div>

            {% for content in recentContents %}
            <div class="segment ui vertical">
                {{ macros.thumbnail(content) }}

                <a class="" href="{{ path("content_path", {'path' : content.path}) }}">
                    <span class="ui horizontal label basic">{{ content.typeLabel }}</span>{{ content.titulo }}
                </a>


                <div class="meta">
                    <small class="date">publicado em {{ content.created|date('d/m/Y') }}</small>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
