{% import ':default:macro.html.twig' as macros %}

<div class="card ui fluid blue">
    <div class="content">
        <span class="header">
            <a href="{{ path('tag_path',{'path' : 'neonatologia'}) }}">
                Radiologia Neonatal
            </a>
        </span>
        <div class="">
            {% for content in neocasos %}
                <div class="segment ui vertical">
                    {{ macros.thumbnail(content) }}
                    <a class="" href="{{ path("content_path", {'path' : content.path}) }}">
                        <span class="ui horizontal label basic">{{ content.typeLabel }}</span>{{ content.titulo }}
                    </a>


                    <div class="meta">
                        <small class="date">publicado em {{ content.created|date('d/m/Y') }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


