


{% for evento in eventos %}
    <div class="ui card fluid teal">
        <div class="content">

            <a class="header" href="{{ path("quiz_answer_new", {'quiz' : quiz.id}) }}">
                <img class="image avatar right floated"src="{{ asset('bundles/app/image/icons8-help-64.png') }}"> {{ quiz.title }}
            </a>

            <div class="meta">
                <span class="date">publicado em {{ quiz.created|date('d/m/Y') }}</span>
            </div>

            <div class="description">
                {{ quiz.resume|raw }}
            </div>

        </div>

    </div>
{% endfor %}