{% import ':default:macro.html.twig' as macros %}

{% if quizes is not empty %}
<div class="ui card fluid pink">
    <div class="content">
        <div class="header">
            <a href="{{ path('quiz_index') }}" >
                Cursos Online
            </a>
        </div>

        {% for quiz in quizes %}
            {{ macros.homeTeste(quiz) }}
        {% endfor %}
    </div>
</div>
{% endif %}