{% extends 'base.html.twig' %}

{% block headjs %}
<link rel="manifest" href="/manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
            appId: "c239ad9a-2b49-4017-b954-d42938bab914",
        });
    });
</script>
{% endblock %}


{% block main %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0&appId=577527129015855&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="ui vertical stripe segment">
        <div class="ui stackable grid ">
            <div class="six wide column">
                {% include '@App/Home/block.course.html.twig' %}

                {% include '@App/Home/block.casosrecentes.html.twig' %}
                {% include '@App/Home/block.recent.html.twig' %}
                {% include '@App/Home/block.neonatologia.html.twig' %}


            </div>
            <div class="six wide column">
                {% include '@App/Home/block.quiz.html.twig' %}
                {% include '@App/Home/block.casos.html.twig' %}
                {% include '@App/Home/block.topcontent.html.twig' %}

            </div>
            <div class="four wide column">
                {{ render(controller('ContentBundle:Evento:sidebar')) }}
                {% include '@App/Theme/block.facebook.html.twig' %}
            </div>


        </div>
    </div>

{% endblock %}