{% block SlideshowType_label %}{% endblock %}
{% block ContentType_label %}{% endblock %}

{% block SlideshowType_row %}
    <div class="ui segment vertical">
    <div class="ui grid ">
        <div class="nine wide column ">
            {{ form_row(form.title) }}
        </div>
        <div class="seven wide column ">
            {{ form_row(form.file) }}
        </div>

    </div>
        {{ form_row(form.description) }}
    </div>
{% endblock %}

{% block SlideshowType_widget %}
    {{ form_widget(form) }}
{% endblock %}