{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}
{% block content %}
    {{ form_start(form) }}

    {% form_theme form
    'ContentBundle:Slideshow:block.slideshow.html.twig'
    'jquery.collection.html.twig'
    %}

    {{ form_row(form.slideshows) }}
    {{ form_row(form._token) }}
    {{ macros.button_submit() }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block customjs %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.slideshows-items').collection({
            min: 1,
            add_at_the_end: true,
            allow_up: false,
            allow_down: false,

            add: '<a class="ui button basic positive small" href="#"><i class="plus icon"></i></a>',
            remove: '<a class="ui button basic negative small" href="#"><i class="minus icon"></i></a>',

        });
    </script>
{% endblock %}

