{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ macros.button_submit() }}
    {{ form_end(form) }}


{% endblock %}
