{% extends 'base.html.twig' %}

{% block content %}

    <div class="">
        {% for evento in eventos %}
            <div class="row mb-3 ml-1">
                <div class="col-md-9">
                    <a class="header h4" href="{{ path('evento_show', { 'id': evento.id }) }}">
                        {{ evento.title }}
                    </a>
                    <div class="description">

                            De {% if evento.dataInicio %}{{ evento.dataInicio|date('d/m/Y') }}{% endif %}
                            até {% if evento.dataFim %}{{ evento.dataFim|date('d/m/Y') }}{% endif %}
                        <br/>
                        <p>Local: {{ evento.local }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-fluid" src="{{ vich_uploader_asset(evento,'file') }}">
                </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}
