{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    {% if evento.createdBy is not empty %}
        <p>criado por {{ evento.createdBy.name }} em {{ evento.created|date('d/m/Y H:i') }}</p>
    {% endif %}
    <strong>Data: </strong>{{ evento.dataInicio|date('d/m/Y') }} - {{ evento.dataFim|date('d/m/Y') }}<br/>
    <strong>Local: </strong>{{ evento.local }}
    {{ evento.body|raw }}

{% endblock %}
