
{% import ':default:macro.html.twig' as macros %}

{% if is_granted('ROLE_USER') %}
    {% if quiz is defined and quiz.id is not empty %}
        {% include 'sidebar/block.admin.quiz.html.twig' %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        <div id="adminMenu" class="card mb-4">
            <div class="card-header">Adminsitração</div>
            <div class="card-body d-flex flex-column">
                <a class="item" href="{{ path('author_index') }}">Autores</a>
                <a class="item" href="{{ path('admin_avental_index') }}">Aventais</a>
                <a class="item" href="{{ path('admin_campaign_index') }}">Campanhas</a>
                <a class="item" href="{{ path('admin_content_index') }}">Conteúdos</a>
                <a class="item" href="{{ path('admin_course_index') }}">Cursos</a>
                <a class="item" href="{{ path('admin_evento_index') }}">Cursos presenciais</a>
                <a class="item" href="{{ path('admin_content_new', {'tag' : 'modelos-de-laudo'}) }}">Adicionar Modelos de Laudo</a>
                <a class="item" href="{{ path('admin_redirect_index') }}">Redirecionamentos</a>
                <a class="item" href="{{ path('admin_tag_index') }}">Tags</a>
                <a class="item" href="{{ path('admin_quiz_index') }}">Testes (Quizes)</a>
                <a href="{{ path('user_index') }}" class="item">Usuários</a>
            </div>
        </div>

    {% endif %}


    <div id="userMenu" class="card mb-4">
        <div class="card-header">{{app.user.name}}</div>
        <div class="card-body d-flex flex-column">
            <a href="{{ path('user_show',{'id':app.user.id}) }}" class="item">Meus dados</a>
            <a class="item" href="{{ path('logout') }}">Sair</a>
        </div>
    </div>


{% endif %}
