{% import 'default/macro.html.twig' as macros %}

{% if content.getTagsByType(tagType) is not empty %}
    <div class="ui vertical text menu">
        <div class="item">
            <div class="header">
                {{ tagLabel }}
            </div>
            <div class="menu">
                {% for tag in content.getContentTagsByType(tagType) %}
                    <div class="item">
                        <div class="content">
                            <a href="{{ path('tag_path', {'path' : tag.path, 'back' : app.request.uri }) }}">
                                {{ tag.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
