{# Menu content #}

{% if content is defined and content is not empty %}
    {% include ':sidebar:block.content.html.twig' %}
{% endif %}

{% include 'sidebar/block.admin.vertical.html.twig' with {'vertical' : 1}%}

{{ render(controller('ContentBundle:Campaign:sidebar')) }}

