{% import ':default:macro.html.twig' as macros %}

<div class="item">
    <div class="header">Quiz: {{ quiz.title }}</div>
    <div class="menu">
        {{ macros.menu_item(path('admin_quiz_edit', {'id' : quiz.id}),'Editar teste') }}
        {{ macros.menu_item(path('admin_quiz_show', {'id' : quiz.id}),'Visualizar perguntas') }}
    </div>
</div>