{% import ':default:macro.html.twig' as macros%}
<div class="ui items">
    {{ macros.blockTitle('Cursos presenciais',path('course_index')) }}
    {% for evento in eventos %}
        <div class="item">
            <div class="content">
                <div class="newsItem">
                    <div class="dateBox">
                        <span class="month">{{ macros.month(evento.dataInicio) }}</span>
                        <span class="day">{{ evento.dataInicio|date('d') }}</span>
                        <span class="year">{{ evento.dataInicio|date('Y') }}</span>
                    </div>
                    <a class="" href="{{ path("evento_show", {'id' : evento.id}) }}">
                        <strong>{{ evento.title }}</strong>
                    </a>
                    <p class="descricao">{{ evento.local }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>