{% import 'v2/default/macro.html.twig' as macros %}

{% if content.id is not empty %}

        <div class="d-flex flex-column mb-4">
            <a class="h5" href="#author">
                <i class="fa-solid fa-arrow-right"></i>
                Autor
            </a>

            <a class="h5" href="#citation">
                <i class="fa-solid fa-arrow-right"></i>
                Cite esse artigo
            </a>

            {% if related|default(null) is not empty %}
                <a class="h5" href="#viewmore">
                    <i class="fa-solid fa-arrow-right"></i>
                    Conteúdos relacionados
                </a>
            {% endif %}

            <div>
                {% for contentTag in content.contentTags %}
                    {{ macros.tag(contentTag.tag) }}
                {% endfor %}
            </div>


            {# CASO  #}
            {% if content.caso is not empty %}
                {{ macros.menu_item(path('content_caso_show', {'content' : content.id}), 'Visualizar caso','','user outline') }}
            {% endif %}

            {# QUIZ #}
            {% if content.quiz is not empty %}
                {{ macros.menu_item(path('quiz_answer_start', {'quiz' : content.quiz.id }), 'Teste seus conhecimentos', '') }}
            {% endif %}

        </div>

{% endif %}


{#{% if related is defined and related is not empty %}
    <div class="">
        <div class="block-title h5">Conteúdos relacionados</div>
        <ul>
            {% for content in related|slice(0,3) %}
                <li>
                    <a class="item" href="{{ path('content_path', {'path' : content.path }) }}">
                        <span class="ui label ">{{ content.TypeLabel }}</span>
                        {{ content.titulo }}
                    </a>
                </li>

            {% endfor %}
        </ul>

    </div>
{% endif %}#}

{% if is_granted('ROLE_ADMIN') and content is not empty and content.id is not empty %}
<div id="adminMenu" class="card mb-4">
    <div class="card-header">Administração de conteúdo</div>
    <div class="card-body d-flex flex-column">
        {{ macros.menu_item(path('admin_content_edit', {'id' : content.id}), 'Editar conteúdo') }}

        {# Caso #}
        {% if content.caso is not empty %}
            {{ macros.menu_item(path('admin_content_caso_edit', {'content' : content.id}), 'Editar caso') }}
        {% endif %}

        {% if content.caso is empty %}
            {{ macros.menu_item(path('admin_content_caso_edit', {'content' : content.id}), 'Criar caso',) }}
        {% endif %}

        {# teste #}
        {% if content.quiz is not empty %}
            {{ macros.menu_item(path('quiz_answer_start', {'quiz' : content.quiz.id }), 'Visualizar teste',) }}
            {{ macros.menu_item(path('admin_quiz_edit', {'id' : content.quiz.id}), 'Editar teste') }}
            {{ macros.menu_item(path('admin_quiz_show', {'id' : content.quiz.id}), 'Editar questões') }}
            {{ macros.menu_item(path('admin_quiz_answers', {'id' : content.quiz.id}), 'Visualizar respostas') }}
        {% endif %}

        {% if content.quiz is empty %}
            {{ macros.menu_item(path('admin_quiz_new', {'content' : content.id}), 'Criar teste',) }}
        {% endif %}
    </div>
</div>

{% endif %}





