<head>
    <meta HTTP-EQUIV='Content-Type' CONTENT='text/html; charset=utf-8' />
</head>

<style>
    .container,
    .header,
    .assinatura {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
    }

    .container > div {
        display: inline-block;
    }

    .header {
        height: 25%;
    }

    .container {
        height: 30%;
    {{ eventoAtividade.evento.cssCorpo|default('') }}
    }

    .assinatura {
        position: absolute;
        bottom: 120px;
        vertical-align: middle;
        margin-left: 45px;
        width: 970px;
    }

</style>


{% set fundopath = 'http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/modelo_template_0.jpg' %}


<body style="background: url('{{ fundopath }}') no-repeat left top ; background-image-resize: 6">

<div class='header'>
    <!--Texto invisivel-->

</div>

<div class='container'>
    {{ corpo|raw }}
</div>

</body>
