{% extends 'base.admin.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    <div class="ui grid two columns">
        <div class="column">
            {{ form_row(form.visibility) }}
        </div>
        <div class="column">
            {{ form_row(form.published) }}
        </div>

    </div>
    {{ form_row(form.summary) }}
    {{ form_row(form.resumo) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.termo) }}
    {{ form_row(form.certificado) }}
    <strong>Tokens (substitua os tokens no texto do certificado)</strong>
    <div class="ui horizontal segments">
        <div class="ui segment">
            [nome]: Nome do usuário
        </div>
        <div class="ui segment">
            [curso]: Nome do curso
        </div>
    </div>
    {{ macros.button_submit() }}
    {{ form_end(form) }}
{% endblock %}


