{% set routename = app.request.get('_route') %}


<ul class="nav nav-tabs mt-3 mb-2">
    <li class="nav-item" >
        <a class="nav-link {% if routename != 'admin_course_inscritos' and app.request.session.get('tab') == 0 %} active {% endif %}"  href="{{ path('admin_course_show',{'tab':0,'id':course.id}) }}">
            Geral
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if routename != 'admin_course_show' and app.request.session.get('tab') == 1 %} active {% endif %}"
           href="{{ path('admin_course_show',{'tab':1, 'id':course.id}) }}" >
            Seções
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link {% if routename == 'admin_course_inscritos' %} active {% endif %}"
           href="{{ path('admin_course_inscritos',{'id':course.id}) }}">
            Inscritos ({{ course.courseUsers.count}})
        </a>
    </li>

</ul>
