{% extends 'base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    {% if courses is empty %}
        <p>Não há cursos cadastrados</p>
    {% endif %}
    {% for course in courses %}
        <div class="mb-4">
            <h3>
                <a href="{{ path('admin_course_show', {'id' : course.id}) }}">{{ course.title }}</a>
            </h3>
            <div class="d-flex flex-row">
                <small class="badge bd-secondary">{{ course.visibilityLabel }}</small>

                {% if course.published %}
                    <small class="badge bd-secondary">publicado</small>
                {% else %}
                    <small class="badge bd-secondary">não publicado</small>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
