{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block content %}
    {% if courses is empty %}
        <p>Não há cursos cadastrados</p>
    {% endif %}
    {% for course in courses %}
        <div class="ui segment">
            <h3>
                <a href="{{ path('course_show', {'id' : course.id}) }}">{{ course.title }}</a>
                {% if course.published %}
                    <small class="label ui green basic mini">publicado</small>
                {% else %}
                    <small class="label ui red basic mini">não publicado</small>
                {% endif %}
            </h3>


            <strong>Módulos</strong>
            <ul>
                {% for content in course.courseContents %}
                    {% if content.content is not empty %}
                        <li>{{ content.content.titulo }}</li>
                    {% endif %}

                    {% if content.quiz is not empty %}
                        <li>{{ content.quiz.title }}</li>
                    {% endif %}

                {% endfor %}
            </ul>


            {% if is_granted('ROLE_ADMIN') %}
                <div class="ui form">
                    <div class="field">
                        <label>Endereço para compartilhamento</label>
                        <div class="ui left icon input fluid">
                            <input type="text" value="{{ url('course_show', {'id' : course.id}) }}">
                            <i class="linkify icon"></i>
                        </div>
                    </div>
                </div>
            {% endif %}
            <br/>
            {{ macros.button(path('course_show',{'id' : course.id}),'Mais detalhes') }}
        </div>
    {% endfor %}
{% endblock %}
