{% extends 'base.admin.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}
    {{ macros.button(path('admin_course_edit', {'id' : course.id}),'Editar curso','') }}
    {{ macros.button(path('admin_course_section_new',{'course': course.id}),'Incluir seção') }}

    {% include 'course/header.html.twig' %}
    <div class="ui bottom attached tab active">
        <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table class="ui table  dataTable ">
            <thead>
            <th>Inscrito em</th>
            <th>Nome</th>

            <th>Tipo</th>
            <th>Status</th>
            </thead>
            {% for row in result %}
                {% set courseUser = row.courseUser %}
                <tr>
                    <td data-sort="{{ courseUser.created|date('YmdHi') }}">
                        {{ courseUser.created|date('d/m/Y H:i') }}
                    </td>
                    <td>
                        {{ macros.newWindow(path('admin_courseUser_show',{'courseUser' : courseUser.id})) }}
                        {{ courseUser.user.name }}
                    </td>

                    <td>{{ courseUser.getTypeLabel }}</td>
                    <td data-sort="{{ row.progress }}">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ row.progress }}%" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <small>({{ row.progress|round }}%) {{ courseUser.getStatusLabel }}</small>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}

{% block customjs %}

    <script>

        $(document).ready(function() {
            $('.dataTable').DataTable({
                "order": [[ 0, "desc" ]],
                "pageLength": 10
            });
            $('.ui.progress').progress();
        });
    </script>
{% endblock %}
