{% extends 'base.html.twig' %}

{% block content %}
    {{ course.resumo|raw }}

    {# USUARIO NAO AUTENTICADO #}
    {% if not is_granted('ROLE_USER') %}
        <div class="ui container">
            <div class="ui grid  column doubling stacked inverted">
                <div class="column wide center aligned ">
                    <h3 class="">Para se inscrever gratuitamente realize seu login</h3>
                    <a class="ui button labeled icon primary big" href="{{ path('hwi_oauth_service_redirect', {'service' : 'google'}) }}"><i class="google icon"></i> Log in utilizando conta Google</a>
                </div>
            </div>
        </div>

    {% else %}
        {# USUARIO ainda nao iniciou o curso #}
        {% if nextProgress is empty %}
            <div class="ui container">
                <div class="ui grid  column doubling stacked inverted">
                    <div class="column wide center aligned ">
                        <a class="ui button primary big" href="{{ path('course_progress_start', {'course' : course.id}) }}">
                            Iniciar curso</a>
                    </div>
                </div>
            </div>
        {% else %}

            {% if nextProgress is not empty and lastProgress.status != 'C' %}

                <h2>
                    <a href="{{ path('course_progress_show', {'id' : nextProgress.id,'course' : course.id}) }}">
                        Continuar para: {{ nextProgress.courseContent.title }}
                    </a>
                </h2>
            {% endif %}

            {# Curso concluído #}
            {% if lastProgress.status == 'C' %}
                <h2>
                    <a href="{{ path('course_certificate_show',{'id' : course.id}) }}">
                        <i class="icon certificate"></i> Curso concluído, obter certificado
                    </a>
                </h2>
            {% endif %}
        {% endif %}
    {% endif %}


    <h2 class="">Módulos</h2>
    {% if course.courseContents is empty %}
        <p>Você não possui módulos associados ao curso</p>
    {% endif %}

    {# EXIBICAO DOS MODULOS #}
    <div class="ui items divided">
        {% for courseContent in course.courseContents %}
            {% include ':coursecontent:item.list.html.twig' %}
        {% endfor %}

        {# Emite certificado #}
        {% if course.certificado is not empty %}
            <div class="ui segment">

                <div class="ui {% if lastProgress is not empty and lastProgress.status == 'C' %}blue{% endif %} ribbon label">Conclusão do curso</div>

                {% if lastProgress is not empty and lastProgress.status == 'C' %}
                <h3>
                    <a href="{{ path('course_certificate_show', {'id' : course.id}) }}">
                    Visualizar certificado
                    </a>
                </h3>
                {% else %}
                    <strong class="title">Certificado</strong>
                {% endif %}

            </div>
        {% endif %}
    </div>
{% endblock %}

{% block customjs %}
    <script>
        $(document).on("ready",function() {
            setCookie('redirect','{{ app.request.uri }}');
        });
    </script>
{% endblock %}