{% extends 'base.admin.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}
    {{ macros.button(path('admin_course_edit', {'id' : course.id}),'Editar curso','') }}
    {{ macros.button(path('admin_course_section_new',{'course': course.id}),'Incluir seção') }}

    {% include 'course/header.html.twig' %}
    <div class="ui bottom attached tab segment {% if app.request.session.get('tab') == 0 %} active {% endif %}">
        <div class="mb-2">
            <strong>Título</strong><br/>
            {{ course.title }}<br/>
        </div>
        <div class="mb-2">
            <strong>Publicado?</strong>
            {% if course.published %}Sim{% else %}Não{% endif %}
        </div>
        <div class="mb-2">
            <strong>Imagem de capa</strong><br/>
            <img class="img-fluid" style="max-height: 128px" src="{{ vich_uploader_asset(course,'imageFile')}}">
        </div>
        <strong>Resumo</strong>
        {{ course.resumo|raw }}

    </div>
    {# secoes #}
    <div class="ui bottom attached tab {% if app.request.session.get('tab') == 1 %} active {% endif %}">

        {% for courseSection in course.courseSections %}
            <div class="ui segment attached bottom">
                <table class="mb-2">
                    <tr>
                        <td>
                            <a href="{{ path('admin_course_section_edit',{
                                'course' : courseSection.course.id,
                                'id' : courseSection.id}) }}">
                                <i class="icon edit"></i>
                            </a>
                            <strong>{{ courseSection.nome }}</strong>
                        </td>
                    </tr>
                        {% for courseContent in courseSection.courseContents %}
                            <tr>
                                <td>
                                    {{ macros.newWindow(path('admin_course_content_edit',{
                                        'course' : courseContent.courseSection.course.id,
                                        'newtab':1,
                                        'id' : courseContent.id})) }}
                                    {{ courseContent.nome }}
                                </td>
                            </tr>
                        {% endfor %}

                </table>
                <a class="ui button" href="{{ path('admin_course_content_new',{'course': courseSection.course.id,
                    'courseSection' : courseSection.id,'back':app.request.uri}) }}">Incluir aula</a>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block customjs %}
    <script>
        $(document).on("ready",function() {
            setCookie('redirect','{{ app.request.uri }}');
            $('.menu .item').tab();
            $('.ui.accordion').accordion();
        });
    </script>
{% endblock %}
