<div class="ui modal basic">
    <i class="close icon"></i>

    <div class="slideshow">

        <div class="slider slick-slider">

            {% for slideshow in content.slideshows %}
                <div>
                    <div class="ui grid ">
                        <div class="twelve wide column">
                            <img class="ui image big " src="{{ vich_uploader_asset(slideshow, 'file') }}" />
                        </div>
                        <div class="four wide column">
                            <h2>{{ slideshow.title }}</h2>
                            {{ slideshow.description }}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="actions">
        <div class="ui basic deny button">
            Fechar
        </div>

    </div>
</div>