{% import 'default/macro.html.twig' as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="DrPixel">
        <meta name="author" content="Faculdade de Ciências Médicas - Unicamp">

        <!-- META -->
        {% block meta %}{% endblock %}
        <title>{{ page_title|default('') }} Dr Pixel</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/image/logos/favicon.ico') }}" />

        <!-- Fonts -->
        {% block fonts %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        <!-- Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('v2') }}
        {% endblock %}
        {% block headcss %}{% endblock %}

        <!-- JS -->

        {% block jquery %}
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        {% endblock %}

        <script src="{{ asset('bundles/app/js/select2.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block headjs %}{% endblock %}
        {% include ':default:analytics.html.twig' %}

    </head>

    <body id="{{ page_id|default('page') }}" class="{% if is_granted('ROLE_ADMIN') %}logged{% endif %} v2">
    {% block body %}

        {% block afterbody %}{% endblock %}

        <!-- Header scroll -->
        {%  include 'AppBundle:Theme:headerscroll.html.twig' %}

        <!-- Sidebar responsive -->
        {%  include 'sidebar/block.sidebar.responsive.html.twig' %}

        <!-- Page Contents -->
        <div id="app" class="pusher">
            {%  include 'AppBundle:Theme:header.html.twig' %}

            <div class="ui container main-content mb-4">
                {% block topo %}
                    <div class="row g-0">
                        <a href="https://www.instagram.com/dr.pixel_unicamp/" target="_blank" class="col-md-4">
                            <img class="img-fluid mb-2" src="{{ asset('build/images/1.492980f6.png') }}">
                        </a>
                        <a href="https://www.youtube.com/c/RodrigoJalesDrPixel" target="_blank" class="col-md-4">
                            <img class="img-fluid mb-2" src="{{ asset('build/images/2.6d5bd53a.png') }}">
                        </a>
                        <a  href="https://www.facebook.com/drpixelUnicamp/?locale=pt_BR" target="_blank" class="col-md-4">
                            <img class="img-fluid" src="{{ asset('build/images/3.908185c9.png') }}">
                        </a>
                    </div>

{#                    {{ render(controller('ContentBundle:Campaign:topo')) }}#}
                {% endblock %}

                {% block main %}

                    <div class="d-lg-flex flex-lg-row flex-md-column-reverse flex-sm-column-reverse">
                        <div id="content-wrapper" class="p-2">
                            {% include '@App/Theme/block.title.html.twig' %}
                            {% include 'default/flash.html.twig' %}

                            <!-- Content -->
                            {% block content %}
                            {% endblock %}
                        </div>
                        <div id="sidebar-wrapper" class="p-2">
                            {% block sidebar %}
                                {% include 'sidebar/block.sidebar.html.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>


            {% block footer %}
                {% include 'default/footer.html.twig' %}
            {% endblock %}
        </div>
    {% endblock %}
    <div id="footer_buttons" >
        {% block footer_buttons %}{% endblock %}
    </div>

    {#  Javascripts #}
    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
        <script src="{{ asset('bundles/quiz/js/functions.js') }}"></script>
        <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

        {% block customjs %}{% endblock %}

        {% if is_granted('ROLE_ADMIN') %}

            {% block js_admin %}
{#                <script>#}
{#                    $(document).ready(function() {$('.ui.dropdown').dropdown();})#}
{#                </script>#}
            {% endblock %}

        {% endif %}

    {% endblock %}
    </body>
</html>
