{% import ':default:macro.html.twig' as macros %}

{{ macros.blockTitle('Mais acessados', path('content_index', {'type' : 'top'})) }}
<div class="ui items">
    {% for content in topContents %}
        {{ macros.itemHomeSmall(content) }}
    {% endfor %}
    <div class="view-more">
        <a href="{{ path('content_index', {'type' : 'top'}) }}">ver mais acessados<i class="ui icon angle right"></i></a>
    </div>
</div>
