{% import ':default:macro.html.twig' as macros %}

<div id="newhome" class="row">
    <div class="col-lg-12 mb-3">
        {{ macros.blockTitle('Últimas atualizações',path('content_index',{'type':'recent'})) }}
    </div>
    <div class="col-lg-6">
        <div class="ui items">
        {{ macros.itemHomeLarge(latest.first) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ui items">
            {% for content in latest|slice(1,3) %}
                {{ macros.itemHomeSmall(content) }}
            {% endfor %}

        </div>
    </div>
</div>

