{% import 'default/macro.html.twig' as macros %}

<div class="block-separator">
    {{ macros.blockTitle('Cursos presenciais na Unicamp',path('evento_index')) }}
    <div class="ui items">
    {% for evento in eventos %}
        <div class="blockLarge block-separator">

            <img class="ui image" src="{{ path('liip_imagine_filter',{
                'filter':'sidebarImage','path': 'uploads/'~ evento.fileName }) }}">

            <div class="content">
                <a class="c1" href="{{ path("evento_show", {'id' : evento.id}) }}">
                    {{ evento.title }}
                </a>
                <p class="text2 font-size-080">Período de {{ evento.dataInicio|date('d/m/Y') }} até {{ evento.dataFim|date('d/m/Y') }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


