{% import ':default:macro.html.twig' as macros %}
{% if courses is not empty %}
    <div class="block-separator">
        {{ macros.blockTitle('Cursos online',path('adrpixel_index')) }}
        <div class="ui items">
            {% for course in courses %}
                <div class="blockLarge block-separator">
                    <div class="blockLarge block-separator">
                        <a class="h4" href="{{ path("adrpixel_course_show", {'id' : course.id}) }}">
                        <img class="ui fluid image "
                             src="{{ vich_uploader_asset(course,'imageFile') }}">
                        </a>

                        <div class="content">
                            <a class="h4 bold" href="{{ path("adrpixel_course_show", {'id' : course.id}) }}">
                                {{ course.title }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}




