{% import ':default:macro.html.twig' as macros %}

{{ macros.blockTitle('Casos',path('content_index', {'type' : 'casos'})) }}
<div class="ui items">
    {% for content in casos %}
        {{ macros.itemHomeSmall(content) }}
    {% endfor %}
    <div class="view-more">
        <a href="{{ path('content_index', {'type' : 'casos'}) }}">ver mais casos<i class="ui icon angle right"></i></a>
    </div>
</div>
