{% import ':default:macro.html.twig' as macros %}

{{ macros.blockTitle('Radiologia neonatal', path('tag_path',{'path' : 'radiologia-neonatal'})) }}
<div class="ui items">


    {% for content in neocasos %}
        {{ macros.itemHomeSmall(content) }}
    {% endfor %}
    <div class="view-more">
        <a href="{{ path('tag_path',{'path' : 'neonatologia'}) }}">ver mais radiologia neonatal<i class="ui icon angle right"></i></a>
    </div>
</div>
