<div class="ui card fluid pink">
    <div class="content">
        <div class="header">
            <a href="{{ path('content_index', {'type' : 'top'}) }}">
                <img class="ui image mini right floated" src="{{ asset('bundles/app/image/icons8-popular-64.png') }}">
                Assuntos mais acessados
            </a>
        </div>

        {# total #}
        <div class="segment ui vertical">
            <div class="ui grid two column">
            {% for counter in topTags['total']|slice(0,1) %}
                    <div class="column wide">
                        <a class="" href="{{ path('content_index',{'tag' : counter.tag.id}) }}">{{ counter.tag.name }}</a>
                        <div class="meta">
                            <small class="counter">{{ counter.totalCounter|number_format(0,',','.') }} acessos totais</small>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>

        {# Por ano #}
        <div class="segment ui vertical">
            <div class="ui grid two column">
                {% for counter in topTags['year']|slice(0,1) %}
                    <div class="column wide">
                        <a class="" href="{{ path('content_index',{'tag' : counter.tag.id}) }}">{{ counter.tag.name }}</a>
                        <div class="meta">
                            <small class="counter">{{ counter.yearCounter|number_format(0,',','.') }} acessos no ano</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {# Por mes #}
        <div class="segment ui vertical">
            <div class="ui grid two column">
                {% for counter in topTags['month']|slice(0,1) %}
                    <div class="column wide">
                        <a class="" href="{{ path('content_index',{'tag' : counter.tag.id}) }}">{{ counter.tag.name }}</a>
                        <div class="meta">
                            <small class="counter">{{ counter.monthCounter|number_format(0,',','.') }} acessos no mês</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {# Por semana #}
        <div class="segment ui vertical">
            <div class="ui grid two column">
                {% for counter in topTags['week']|slice(0,1) %}
                    <div class="column wide">
                        <a class="" href="{{ path('content_index',{'tag' : counter.tag.id}) }}">{{ counter.tag.name }}</a>
                        <div class="meta">
                            <small class="counter">{{ counter.weekCounter|number_format(0,',','.') }} acessos na semana</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

</div>