{% import ':default:macro.html.twig' as macros %}
<div class="block-separator">
    {{ macros.blockTitle('Especialidades',path('especialidade_index')) }}
    <div class="ui link item">
        {% for tag in especialidades %}
            <div class="item ">
                <div class="ui horizontal statistic">
                    <div class="value">
                        <a class="counter" href="{{ path('tag_path',{'path' : tag.id}) }}" >
                            {{ tag.contentTags|length }}
                        </a>
                    </div>
                    <div class="label">
                        <a class="h2" href="{{ path('tag_path',{'path' : tag.id}) }}" >
                            {{ tag.name }}
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="sixteen wide column view-more">
        <a href="{{ path('especialidade_index') }}">ver mais especialidades<i class="ui icon angle right"></i></a>
    </div>
</div>