{% import ':default:macro.html.twig' as macros %}

{{ macros.blockTitle('Conteúdo selecionado para a graduação em Medicina', path('tag_path',{'path' : 'graduacao'})) }}
<div class="ui items">


    {% for content in graduacao %}
        {{ macros.itemHomeSmall(content) }}
    {% endfor %}
    <div class="view-more">
        <a href="{{ path('tag_path',{'path' : 'graduacao'}) }}">ver mais graduação<i class="ui icon angle right"></i></a>
    </div>
</div>
