{% extends 'base.html.twig' %}

{% block main %}

    <div id="newhome" class="row">
        <div class="col-md-9">
            {% include '@App/HomeNew/block.latest.html.twig' %}
            <div class="row">
                <div class="col-lg-6 ">
                    {% include '@App/HomeNew/block.graduacao.html.twig' %}
                    {% include '@App/HomeNew/block.casos.html.twig' %}
                    {% include '@App/HomeNew/block.neonatologia.html.twig' %}
                </div>
                <div class="col-lg-6">
                    {% include '@App/HomeNew/block.topcontent.html.twig' %}

                    {% include '@App/HomeNew/block.quiz.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-md-3">


            {% include '@App/HomeNew/block.eventos.html.twig' %}

            {% include '@App/HomeNew/block.course.html.twig' %}
        </div>
    </div>
{% endblock %}