{% extends 'base.html.twig' %}

{% block content %}
<h2>Título H2</h2>
    <p>Take “Fail better,” Beckett’s long-echoing utterance from his 1983 story “Worstward Ho!,” which for years has been co-opted by CrossFitters, entrepreneurs, and memesmiths as some kind of bite-size adage for above-average go-getters.</p>
    You’ll spot it emblazoned across motivational jpegs, mugs, and tank tops — contexts that suggest Beckett was tooting a whistle and toting a clipboard, assuring his readers “You can do it, tiger!”
<h3>Título H3</h3>
    You’ll spot it emblazoned across motivational jpegs, mugs, and tank tops — contexts that suggest Beckett was tooting a whistle and toting a clipboard, assuring his readers “You can do it, tiger!”
<h4>Título H3</h4>
    You’ll spot it emblazoned across motivational jpegs, mugs, and tank tops — contexts that suggest Beckett was tooting a whistle and toting a clipboard, assuring his readers “You can do it, tiger!”
{% endblock %}