{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block headcss %}
    <style>
        .fcm {
            background-image: url("");
            background-repeat: no-repeat;
            padding: 0 70px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .avental {
            height: 180px;
            width: 180px;
        }


    </style>
{% endblock %}

{% block main %}
    <div class="">

        {% include '@App/Theme/block.title.html.twig' %}
        <div class="row">
            <div class="col-md-6">
                <h2>Objetivo</h2>
                <p>O Dr. Pixel &eacute; uma plataforma de ensino (<em>e-learning</em>)&nbsp;dirigido principalmente ao diagn&oacute;stico por imagem na sa&uacute;de da mulher. Dispon&iacute;vel <em>online </em>desde dezembro de 2015, atingindo a marca de 1.000.000 de acessos em junho de 2018 (not&iacute;cia: <a href="http://www.unicamp.br/unicamp/noticias/2018/06/29/site-dr-pixel-ultrapassa-marca-de-um-milhao-de-acessos">http://www.unicamp.br/unicamp/noticias/2018/06/29/site-dr-pixel-ultrapassa-marca-de-um-milhao-de-acessos</a>).</p>

                <div class="mb-2">
                    <img class="img-fluid" src="https://drpixel.fcm.unicamp.br/bundles/app/image/fcm=background.jpeg">
                    <small>Foto aérea da Faculdade de Ciências Médicas e de parte do complexo hospitalar da UNICAMP.
                        Expressivos agradecimentos ao aluno da graduação em medicina e piloto de drone Augusto
                        César Bortoluci
                    </small>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>


                <h2>Editores</h2>
                <ul>
                    <li>Dr. Klaus Schumacher (Editor chefe) - Radiologista pela&nbsp;Faculdade de Ci&ecirc;ncias M&eacute;dicas da Universidade Estadual de Campinas (UNICAMP). Concluiu&nbsp; Fellow de Neurorradiologia diagn&oacute;stica no HC/UNICAMP. Trabalha como readiologista no HC-UNICAMP e no CAISM-UNICAMP.</li>
                </ul>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lattes: <a href="http://lattes.cnpq.br/3800202218872261">clique aqui</a></p>
                <ul>
                    <li>Dr Guilherme Wertheimer &nbsp;- Graduado em medicina pela&nbsp;Universidade Estadual de Campinas (UNICAMP). Residente de Radiologia&nbsp;na&nbsp;Faculdade de Ci&ecirc;ncias M&eacute;dicas da Universidade Estadual de Campinas (UNICAMP).</li>
                </ul>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lattes:&nbsp;<a href="http://lattes.cnpq.br/1300188024839845">clique aqui</a></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h2>Contatos</h2>
                <p><strong>Idealizador do site Dr Pixel e coordenador do conte&uacute;do relacionado &agrave; Imagem da Mulher:</strong><br />
                    Prof. Dr. Rodrigo Menezes Jales - Docente do Departamento de Tocoginecologia da Faculdade de Ci&ecirc;ncias M&eacute;dicas da Universidade Estadual de Campinas (UNICAMP).<br />
                    E-mail: jales@unicamp.br<br />
                    Lattes: <a href="http://lattes.cnpq.br/7373189240442343">http://lattes.cnpq.br/7373189240442343</a></p>

                <p><strong>Coordenador do conte&uacute;do relacionado &agrave; Radiologia Geral (Hospital de Cl&iacute;nicas da UNICAMP):</strong><br />
                    Prof. Dr. Sergio San Juan Dertkigil - Docente e chefe do Departamento de Radiologia da Faculdade de Ci&ecirc;ncias M&eacute;dicas da Universidade Estadual de Campinas (UNICAMP).<br />
                    E-mail: sergiosj@g.unicamp.br<br />
                    Lattes: http://lattes.cnpq.br/1672860991156449</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-6">
                <h2>Conte&uacute;do</h2>
                <p>Todas as imagens e casos mostrados no site s&atilde;o origin&aacute;rios dos bancos de imagens do
                    &quot;Hospital da Mulher Prof. Dr. Jos&eacute; Aristodemo Pinotti -Centro de Aten&ccedil;&atilde;o Integral &agrave; Sa&uacute;de da Mulher (CAISM) e Hospital de Cl&iacute;nicas&nbsp;da UNICAMP. Temos o suporte dos departamentos de Radiologia e de Tocoginecologia e do Servi&ccedil;o de Medicina Nuclear da Faculdade de Ci&ecirc;ncias M&eacute;dicas (FCM). A cria&ccedil;&atilde;o e a manuten&ccedil;&atilde;o da plataforma s&atilde;o atribui&ccedil;&otilde;es do&nbsp;analista de sistemas Newton da Silva.</p>
                <p>&nbsp;</p>

                <h2>Conte&uacute;do legal</h2>
                <p>As imagens e textos deste site s&atilde;o disponibilizados sob a licen&ccedil;a Creative Commons. Assim, o conte&uacute;do do Dr. Pixel, incluindo as suas imagens, pode ser compartilhado e utilizado para fins educacionais, como a prepara&ccedil;&atilde;o de aulas, desde que n&atilde;o haja finalidade comercial e que o devido cr&eacute;dito seja dado ao site Dr. Pixel <u><em>(retirado de fcm.unicamp.br/drpixel)</em></u></p>
                <p>O site Dr. Pixel segue as diretrizes da Comiss&atilde;o Permanente de Divulga&ccedil;&atilde;o de Assuntos M&eacute;dicos (CODAME) do Conselho Regional de Medicina de S&atilde;o Paulo (CRM-SP) . Neste sentido, todo o conte&uacute;do foi preparado a fim de assegurar o anonimato dos pacientes.</p>
                <p>&nbsp;</p>

                <h2>Organiza&ccedil;&atilde;o do conte&uacute;do</h2>
                <p>O conte&uacute;do est&aacute; organizado em 3 &aacute;reas: aulas, casos e imagens did&aacute;ticas.</p>
                <ul>
                    <li>As aulas abordam o assunto de forma mais completa, apresentando, al&eacute;m da imagens, descri&ccedil;&otilde;es, defini&ccedil;&otilde;es&nbsp;e explica&ccedil;&otilde;es. As au&ccedil;as tamb&eacute;m podem ser apresentadas na forma de v&iacute;deo.</li>
                    <li>Os casos cont&eacute;m uma breve explica&ccedil;&atilde;o sobre os achados de imagem e&nbsp;discuss&otilde;es das considera&ccedil;&otilde;es&nbsp;cl&iacute;nicas mais relevantes.</li>
                    <li>As imagens did&aacute;ticas s&atilde;o&nbsp;apresentadas apenas com a descri&ccedil;&atilde;o dos achados relevantes.</li>
                </ul>
                <p>Atrav&eacute;s do Dr. Pixel tamb&eacute;m divulgamos eventos relacionados ao ensino de radiologia e diagn&oacute;stico por imagem realizados presencialmente no complexo hospitalar da UNICAMP.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <p>
                    Algumas  das instituições cujos alunos passam ou já passaram pelo serviço de imagem do Hospital da Mulher “Prof. Dr. José Aristodemo Pinotti”, Centro de Atenção Integral  à Saúde da Mulher (CAISM), Unicamp, São Paulo, Brasil.
                </p>

                <h2>Principais colaboradores</h2>
                <p>Profa. Dra. Beatriz Regina Alvares - Docente do Departamento de Radiologia da FCM / UNICAMP. Desenvolve atividades docentes assistenciais nas &aacute;rea de radiologia neonatal e imagem da mulher do Hospital da Mulher&nbsp; &quot;Prof. Dr. Jos&eacute; Aristodemo Pinotti&quot; &ndash; CAISM.</p>
                <p>Dr. Jezreel Correa da Costa - m&eacute;dico radiologista pela Faculdade de Ci&ecirc;ncias M&eacute;dicas da Universidade Estadual de Campinas (UNICAMP).</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>



            </div>
        </div>

        <div class="row">
            <h2>Ex-alunos</h2>
            <p>
                Algumas das instituições cujos alunos passam ou já passaram pelo serviço de imagem do Hospital da Mulher
                “Prof. Dr. José Aristodemo Pinotti”, Centro de Atenção Integral à Saúde da Mulher (CAISM), Unicamp, São Paulo, Brasil. </p>
            <div class="row">
                {% for avental in aventals %}
                    <div class="col-md-3 mb-4 text-center">
                        <img class="rounded-circle img-fluid avental mb-2" src="{{ vich_uploader_asset(avental,'imageFile') }}">
                        <div class="text-center">
                            <strong>
                                {{ avental.name }}
                            </strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ sobre.value | raw }}



    </div>



{% endblock %}

