{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block main %}
    {% include '@App/Theme/block.title.html.twig' %}
    <p>Escreva sua mensagem abaixo, em breve entraremos em contato.</p>
    {{ form_start(form) }}
    {{ form_row(form.nome) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ macros.button_submit('Enviar') }}
    {{ form_end(form) }}

{% endblock %}
