{% extends 'base.admin.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-9">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.published) }}
            </div>
        </div>

    {{ form_row(form.redirect) }}
    {{ form_row(form.slideshow) }}
    {{ form_row(form.lateral) }}
    {{ form_row(form.topo) }}
    {{ form_row(form.modal) }}
    {{ macros.button_submit() }}
    {{ form_end(form) }}

{% endblock %}
