{% extends 'base.admin.html.twig' %}

{% block content %}

    <div class="ui ">
        <table class="table">
            <thead>
                <th>Titulo / Redirecionamento</th>
                <th>Publicado?</th>
                <th>Imagem</th>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>
                        <a href="{{ path('admin_campaign_edit',{'id' : campaign.id }) }}">{{ campaign.title }}</a>
                        <br/>
                        <smal>
                            <a target="_blank" href="{{ campaign.redirect }}" class="text-muted">
                                {{ campaign.redirect }}
                            </a>
                        </smal>
                    </td>
                    <td>
                        {{  campaign.published ? 'Sim' : 'Não' }}
                    </td>
                    <td class="d-flex flex-wrap">
                        <img style="max-width: 60px" src="{{ vich_uploader_asset(campaign,'slideshow') }}">
                        <img style="max-width: 60px" src="{{ vich_uploader_asset(campaign,'lateral') }}">
                        <img style="max-width: 60px" src="{{ vich_uploader_asset(campaign,'topo') }}">
                        <img style="max-width: 60px" src="{{ vich_uploader_asset(campaign,'modal') }}">
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
