
{% if campaign is not empty %}

    <script>$(document).ready(function() {$('.ui.modal').modal('show');})</script>

    <div class="ui modal">
        <a href="{{ campaign.redirect }}"  target="_blank" >
            <img style="margin-bottom: 15px" class="" src="{{ vich_uploader_asset(campaign,'lateral') }}">
        </a>
    </div>

{% endif %}

