
{% if campaign is not empty %}
    <a href="{{ campaign.redirect }}"  target="_blank" >
        <img style="margin-bottom: 15px" alt="{{ campaign.title }}" src="{{ vich_uploader_asset(campaign,'lateral') }}">
    </a>
{% endif %}
