{% for campaign in campaigns %}
    <a href="{{ campaign.redirect }}" target="_blank" style="display: block" class="text-center">
        <img class="img-fluid" style="margin-bottom: 15px"  src="{{ vich_uploader_asset(campaign,'topo') }}">
    </a>
{% endfor %}
