@import url('colors.css');
@import url('header.css');
@import url('sidebar.css');
@import url('datatables.min.css');
@import url('select2.min.css');
@import url('select2-bootstrap.min.css');

html body {
    font-family: var(--font2);
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .main-menu, .badge {
    font-family: var(--font2)
}


#page-title {
    margin: 10px 0;
}

#admin #content-wrapper {
    padding-bottom: 60px;
}


.ui.secondary.pointing.menu .active.item {
    border-color: rgba(0,0,0,0);
}

.cke_notifications_area {
    display: none !important;
}


@media only screen and (max-width: 700px) {

}
.hidden.menu {
    display: none;
}

.masthead.segment {

    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer {
    background: #1b1c1d;
}

.footer.segment {
    padding: 5em 0em;
}

.footer a, .footer {
    color: white;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.language ul {
    list-style: none;
    text-align: left;
}

#mainmenu .item {
    padding: 0;
}

#mainmenu .logo img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }


}




.c1 {color: var(--c1)}
.c2 {color: var(--c2)}


/** BLOCK CONFIG **/
.blockLarge .content {
    margin-top: 5px;
}



.created {font-size: 0.8em;}

.block-title, .block-title a {
    font-weight: normal;
}


.block-border {
    background: var(--link);
    padding: 8px;
    border-radius: 8px;
    color: white;
}

.block-border a {
    color: white;
}

.image100 {
    max-height: 80px;
    width: 100px;
}
/** COUNTER ***/
.block-separator {
    margin-bottom: 20px;
}

.blockCounter .ui.items {
    margin: 0;
}

.blockCounter .statistic .label { text-transform: none}

.counter {
    font-size: 28px;
    color: rgba(0,0,0,0.15) !important;
}


.newsItem {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 35px;
}

.dateBox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 85%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(85%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.day {
    position: relative;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
}
.month {
    color: #fff;
    line-height: 12px;
    background: #d14f69;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    box-shadow: 0px 1px 0px #d14f69;
    -webkit-box-shadow: 0px 1px 0px #d14f69;
    text-shadow: 0px 1px 0px #d14f69;
    padding: 3px;
    display: block;
}
.year {
    font-size: 9px;
    line-height: 10px;
    font-weight: normal;
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
}

.badge {
    background-color: var(--color3) !important;
    color: #4b4b4b !important;
    border-radius: 50rem !important;
    --bs-badge-padding-x: 1em;
    --bs-badge-padding-y: 0.49em;
    --bs-badge-font-size: 0.81em;
    --bs-badge-font-weight: 600;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.25rem;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    padding: 5px 10px;
    vertical-align: baseline;
    margin: 3px;
}
