:root {
   --primary: #341948;
   --secondary: #c70d3a;
   --terciary: #ed5107;
   --link: #E966A0;
   --color2: #FD0080;
   --color3: #f3f3f3;
   --white: #fff;

   --c1: rgba(0,0,0,.89);
   --c2: rgba(0,0,0,.54);

   --text: #333;
   --text2: #757575;

   --font: 'Roboto Slab', serif;
   --font2: 'Poppins', sans-serif;
   --font-size: 15px;

   --color-brown: #2f2424;
}