
#header {
    background: var(--primary);
}
#header  .main-menu{
    background: var(--primary);
    margin-top: 10px;
}

#header  .main-menu a {
    color: var(--white);
}

#header .item {

    color: rgba(0,0,0,0.5);
    padding: 10px 5px;
}

.logos .drpixel {
    width: 200px;
}

.logos .unicamp {
    height: 60px;
}

.logos-block .font {
    font-size: 3em;
    color: white !important;
    font-weight: bold;
}

/*SEARCH*/
#search {
    max-width: 170px;
}

#search input.form-control {
    background: var(--primary);
    border: 1px solid white;
    padding: 6px 12px;
    height: 30px;
    color: white;
}

#menu-responsive .unicamp, #menu-responsive .fcm {

    max-height: 48px;
}

#menu-responsive .drpixel {
    max-width: 64px;
    max-height: 64px;
}

#menu-responsive .font {
    font-size: 1rem;
}

#header ::placeholder{
    color: white;
    font-size: 0.8rem;
}