.gsc-control-wrapper-cse {
    max-width: 300px;
}

.gsc-control-wrapper-cse {
    float: right;
}



#sidebar-wrapper .item{
    font-size: 1rem !important;
}


@media (min-width: 1200px){
    #content-wrapper {
        width: calc(100% - 280px);
    }

    #sidebar-wrapper {
        width: 280px;
    }

}

