{% extends 'base.html.twig' %}

{% block main %}
    {% include '@App/Theme/block.title.html.twig' %}
  <h2>({{users|length}}) Total de inscritos</h2>
  <table class="ui table">
      <thead>
        <th>Nome</th>
        <th>Tipo de instituição</th>
        <th>Intituição</th>
        <th>Formação</th>
      </thead>
      {% for user in users %}
        <tr>
            <td>{{ user.user.id }}</td>
            <td>{{user.user.name}}</td>
            <td>{{user.user.getTipoInstituicaoLabel}}</td>
            <td>{{user.user.instituicao}}</td>
            <td>{{user.user.getFormacaoLabel}}</td>
        </tr>
      {% endfor %}
  </table>
    <h2>Desempenho</h2>
  <table class="ui table celled striped ">
      <thead>
        <th>Nome</th>
        {% for courseContent in course.courseContents %}
            <th>{{ courseContent.title }}</th>
        {% endfor %}
      </thead>
      {% for user in users %}
          <tr>
              <td>{{ user.user.id }}</td>
              <td>{{user.user.name}}</td>
              {% for courseProgress in user.progress %}
                <td>
                    {% set quizShowed = false %}

                    {% for answer in courseProgress.answers %}

                        {% set quizShowed = true %}
                        {# Exibe senao for feedback#}
                        {% if not answer.hasFeedback and courseProgress.status == 'C' %}
                            {% include ':Quiz/Quiz:row.answer.user.html.twig' with {'quiz' : answer.quiz, 'showHeader' : 0 }%}
                        {% endif %}

                        {# Feedback #}
                        {% if answer.hasFeedback and courseProgress.status == 'C' %}
                            {% if answer.courseProgress.courseContent.allQuizFromCourseCompleted(answer.courseProgress) %}
                                <a target="_blank" href="{{ path('quiz_answer_finish', {
                                    'quiz' : answer.quiz.id, 'answer' : answer.id,
                                    'back' : app.request.requestUri

                                }) }}">
                                    ver respostas
                                </a>
                            {% endif %}
                        {% endif %}

                    {% endfor %}

                    {% if not quizShowed %}
                        {{ courseProgress.getstatusLabel }}
                    {% endif %}
                </td>
              {% endfor %}
          </tr>
      {% endfor %}
  </table>

    {% for content in byContent %}
        <h2>{{ content.courseContent.title }}</h2>

            {% for question in content.questions %}
                <table class="ui table">
                    {% set countCorrect = 0 %}
                    {% set countIncorrect = 0 %}
                    <tr>
                        <td colspan="2">{{ question.question.text|striptags('<p>')|raw }}</td>
                    </tr>


                                {% for questionItem in question.question.itens %}

                                    {% set totalQuestionItem = questionItem.getAnswersItemByCourseProgress(content.courseContent)|length %}

                                    {% if questionItem.correct %}
                                        {% set color = '#81C784' %}
                                        {% set countCorrect = countCorrect + totalQuestionItem%}
                                    {% else %}
                                        {% set color = '#FFD54F' %}
                                        {% set countIncorrect = countIncorrect + totalQuestionItem %}
                                    {% endif %}

                                    <tr style="background-color: {{ color }}">
                                        <td>{{ questionItem.text|raw }}</td>
                                        <td>{{ totalQuestionItem }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>Corretas: {{ countCorrect|default(0) }} <br/>
                                        Incorretas: {{ countIncorrect|default(0) }}
                                    </td>

                                </tr>

                            {#
                        {% for questionItem in question.question.itens %}
                            {% for answerItem in questionItem.getAnswersItemByCourseProgress(content.courseContent) %}

                                <td>
                                    {% if answerItem is empty %}
                                        X
                                    {% else %}
                                        {% if answerItem.questionItem.correct %}
                                            {% set color = 'green' %} C
                                        {% else %}
                                            {% set color = 'red' %}
                                        {% endif %}
                                        <span style="color: {{ color }}">{{ answerItem.answer.user.id }}</span>
                                    {% endif %}

                                </td>
                            {% endfor %}
                        {% endfor %}
                        #}
                </table>
            {% endfor %}

    {% endfor %}




{% endblock %}
