{% extends 'base.html.twig' %}
{% import ':default:macro.html.twig' as macros %}
{% block content %}
    {{ form_start(form) }}
    {% if course.termo is not empty %}
        {{ course.termo|raw }}
        <br/>
        {{ macros.button_submit('Aceito os termos e confirmar inscrição') }}
    {% else %}
        {{ macros.button_submit('Confirmar inscrição') }}
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
