{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coursesection</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ courseSection.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ courseSection.title }}</td>
            </tr>
            <tr>
                <th>Delta</th>
                <td>{{ courseSection.delta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_course_section_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_course_section_edit', { 'id': courseSection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
