{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}


    {{ form_start(edit_form) }}
    {{ form_row(edit_form.resume) }}
    {{ form_row(edit_form.body) }}
    {{ macros.button_submit() }}
    {{ form_end(edit_form) }}

    {% if caso.id is not empty %}
    {{ form_start(delete_form) }}
        {{ macros.button_submit('Remover caso','red') }}
    {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
