{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block content %}

    {{ caso.body|raw }}
    <br/>
    <div class="ui grid centered">
        <div class="item">
            <a href="{{ path('content_show', { 'id' : caso.content.id }) }}">
                <img class="ui image small" src="{{ asset('bundles/app/drpixel/doubt.png') }}">
            </a>
            <br/>
            {{ macros.button(path('content_show', { 'id' : caso.content.id }),'Visualizar conteúdo') }}
        </div>
    </div>
{% endblock %}
