{% extends 'base.html.twig' %}

{% block main %}
    {% include '@App/Theme/block.title.html.twig' %}
    <form>
        <div class="ui icon input">
            <input name="q" type="text" placeholder="Procurar..." value="{{ value|default('') }}">
            <i class="inverted circular search link icon"></i>
        </div>
    </form>
    <script>
        (function() {
            var cx = '007482836044916484875:lheo8nvaanc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:searchresults-only></gcse:searchresults-only>
{% endblock %}