{% extends 'base.html.twig' %}

{% block sidebar %}
    {% if quiz is defined and step is defined %}
    {% include 'Quiz/Answer/block.sidebar.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}
