

h1, .h1 {
    font-size: 2.2rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgb(41, 41, 41)
}

/* HOME */
.nivo-controlNav {
    padding: 0;
}
.nivo-prevNav, .nivo-nextNav, .nivo-control {
    background-color: var(--primary);
    border-radius: 20%;

    color: white;
    padding: 5px 10px ;
    margin-left: 10px;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 15px;
}