{% block QuestionItemType_label %}{% endblock %}
{% block QuestionType_label %}{% endblock %}

{% block QuestionItemType_row %}
    <div class="ui segment vertical">
    <div class="ui grid ">
        <div class="nine wide column ">
            {{ form_row(form.text) }}
        </div>
        <div class="seven wide column ">
            {{ form_row(form.feedback) }}
            {{ form_row(form.correct) }}
        </div>
    </div>
    </div>
{% endblock %}

{% block QuestionItemType_widget %}
    {{ form_widget(form) }}

{% endblock %}