{% extends 'base.admin.html.twig' %}
{% import 'default/macro.html.twig' as forms %}

{% block content %}

    {{ form_start(form) }}
    {{ form_row(form.text) }}

    <h2>Respostas</h2>

    {% form_theme form
        'Quiz/Question/block.item.html.twig'
        'jquery.collection.html.twig'
    %}

    {{ form_row(form.itens) }}

    <h2>Feedbacks da Questão</h2>
    {{ form_row(form.correctFeedback) }}
    {{ form_row(form.wrongFeedback) }}

    {{ forms.button_submit() }}
    {{ form_end(form) }}

{% endblock %}

{% block customjs %}

<script src="{{ asset('js/jquery.collection.js') }}"></script>

<script type="text/javascript">
    $('.questao-items').collection({
        min: 1,
        add_at_the_end: true,
        allow_up: false,
        allow_down: false,

        add: '<a class="ui button basic positive small" href="#"><i class="plus icon"></i></a>',
        remove: '<a class="ui button basic negative small" href="#"><i class="minus icon"></i></a>',

    });
</script>
{% endblock %}

