{% if is_granted('ROLE_USER') %}
    {% if rate is not empty and rate.favorite %}
        <a href="#" class="ui small button basic green content_favorite_ajax" content="{{ rate.content.id }}">
            <i class="star icon"></i> Em favoritos
        </a>
    {% else %}
        <a href="#" class="ui small button basic content_favorite_ajax" content="{{ content.id }}">
            <i class="star outline icon"></i> Adicionar a favoritos
        </a>
    {% endif %}
{% else %}
    <a href="{{ path('login',{'goto' : app.request.requestUri}) }}">
        <i class="star outline icon"></i> Adicionar a favoritos
    </a>
{% endif %}