
<div class="item">
    {% if content.imagem is not empty %}
        <div class="image">
            <a href="{{ path('content_path', {'path' : content.path}) }}">
                <img class="ui image  " src="{{ content.imagem }}">
            </a>
        </div>
    {% endif %}

    {% if content.urlVideo is not empty %}
        <div class="image">
            <a href="{{ path('content_path', {'path' : content.path}) }}">
                <img class="ui image  " src="https://img.youtube.com/vi/{{ content.getVideoId }}/default.jpg">
            </a>
        </div>
    {% endif %}

    <div class="content">
        <a class="header" href="{{ path('content_path', {'path' : content.path}) }}">
            {% if courseContent is defined %}
                <span class="ui label "
            {% endif %}
            {{ content.titulo }}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="extra">
                {% if courseContent is defined %}
                <a class="ui right floated button mini" href="{{ path('admin_course_content_delete', {'course' : courseContent.course.id,
                    'id' : courseContent.id}) }}">remover do curso</a>
                {% endif %}
                <a class="ui right floated button mini" href="{{ path('admin_content_edit', {'id' : content.id,
                    'back' : app.request.requestUri}) }}">editar conteúdo</a>
            </div>
        {% endif %}
    </div>

</div>
