{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}

        <div class="vich-file">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri %}
                <a href="{{ download_uri }}">visualizar arquivo</a>
            {% endif %}
        </div>

{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}

        <div class="vich-image">
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(form.file) }}
                    {% if form.delete is defined %}
                        {{ form_row(form.delete) }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if image_uri %}
                        <a class="ui image tiny" href="{{ image_uri }}"><img src="{{ image_uri }}" alt="" /></a>
                    {% endif %}
                    {% if download_uri %}
                        <a href="{{ download_uri }}">
                            <i class="icon download"></i>{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
                        </a>
                    {% endif %}
                </div>
            </div>



        </div>

{% endblock %}
