{% extends 'base.admin.html.twig' %}
{% import 'default/macro.html.twig' as forms %}

{% block content %}
    <div class="ui message info">
        <p>Por favor forneça informações corretas sobre o seu perfil. Essas informações nos ajudam a criar novos
            conteúdos para o site. Seus dados serão mantidos em sigilo.
            As suas respostas não influenciam o seu acesso ao conteúdo do site</p>
    </div>
    {{ form_start(form) }}
    <div class="ui segment">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.nomeCitacao) }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.formacao) }}
                <div id="area" class="field">
                {{ form_row(form.area) }}
                </div>
            </div>
            <div class="col-md-4">
                <div id="tipoInstituicao" class="field">
                {{ form_row(form.tipoInstituicao) }}
                </div>
                <div id="instituicao" class="field">
                    {{ form_row(form.instituicao) }}
                </div>
                <div id="ra" class="field">
                    {{ form_row(form.ra) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
    {{ form_row(form.newsletter) }}
    <br/>
    {{ forms.button_submit('Salvar')  }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}


{% endblock %}

{% block customjs %}
    <script>

        check();

        {# Graduacao #}
        $('#user_formacao').on('click', function(e) { check()});

        function check() {
            if($('#user_formacao_0').prop("checked")) change(true,false);
            if($('#user_formacao_1').prop("checked")) change(true,true);
            if($('#user_formacao_2').prop("checked")) change(false,false);
            if($('#user_formacao_3').prop("checked")) change(false,false);
            if($('#user_formacao_4').prop("checked")) change(false,false);
            if($('#user_formacao_5').prop("checked")) change(false,false);

        }

        $('#user_tipoInstituicao_1').on('change', function(e) {
            changeTipo(true);
        });

        $('#user_tipoInstituicao_0').on('change', function(e) {
            changeTipo(false);
        });

        function change(showTipo, showArea) {
            if(showTipo)$('#tipoInstituicao').show();
            else $('#tipoInstituicao').hide();

            if(showArea)$('#area').show();
            else $('#area').hide();

            if($('#user_tipoInstituicao_1').prop("checked")) changeTipo(true);;
            if($('#user_tipoInstituicao_0').prop("checked")) changeTipo(false);;
        }

        function changeTipo(showUnicamp) {
            if(showUnicamp){
                $('#instituicao').hide();
                $('#ra').show();
            } else {
                $('#instituicao').show();
                $('#ra').hide();
            }

        }
    </script>
{% endblock %}
