{% extends 'base.admin.html.twig' %}

{% block content %}

    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="ui table table-striped dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Nível</th>
                <th>Criado em</th>
                <th>Acesso em</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', { 'id': user.id,'back' : app.request.uri }) }}">
                        {{ user.name }}
                        </a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        Formação: {{ user.getFormacaoLabel }}<br/>
                        {% if user.tipoInstituicaoLabel is not empty %}
                        {{ user.tipoInstituicaoLabel }}<br/>
                        {% endif %}
                        {% if user.ra is not empty %}
                            RA: {{ user.ra }}
                        {% endif %}
                        {% if user.instituicao is not empty %}
                            Instituição: {{ user.instituicao }}
                        {% endif %}
                    </td>
                    <td>{{ user.created|date('d/m/Y') }}</td>
                    <td>{{ user.lastAccess|date('d/m/Y H:i') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        $(document).ready(function(){
            $('#data-table-basic').dataTable();
        })
    </script>
{% endblock %}