{% extends 'base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block main %}
    <div class="ui container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h4 class="">Login</h4>
                <a class="btn btn-primary mb-3"
                   href="{{ path('hwi_oauth_service_redirect', {'service' : 'google'}) }}">
                    <i class="google icon"></i> Log in utilizando conta Google
                </a>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {% if env == 'prod' %}
                    {{ form_row(form.captcha) }}
                {% else %}
                    {{ form_row(form.masqueradeUser) }}
                {% endif %}

                <div class="mb-2 mt-2">
                    {{ macros.button_submit('Entrar','primary','fluid') }}
                </div>
                {{ form_errors(form) }}
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}

                <div class="mb-2">
                    <p>
                        <a href="{{ path('user_new') }}">Registrar-se</a><br/>
                        Esqueceu sua senha?<a href="{{ path('resetpass') }}"> Recuperar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}