{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block main %}
    <div class="ui container">
        <div class="row">
            <div class="col-md-4">

                <h2 class="">Registrar-se</h2>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                <div class="mb-2">
                    {{ macros.button_submit('Entrar','primary') }}

                </div>
                {{ form_end(form) }}

            </div>
            <div class="col-md-8">
                <img class="ui image small centered" src="{{ asset('bundles/app/drpixel/enter.png') }}">
                <h2>Crie sua conta gratuitamente, com ela você pode:</h2>
                <ul>
                    <li>
                        <p>Adicionar a favoritos seus conteúdos prediletos</p>
                    </li>
                    <li>
                        <p>Realizar cursos online</p>
                    </li>
                </ul>


            </div>
        </div>
    </div>
{% endblock %}