{% extends 'base.admin.html.twig' %}

{% import 'v2/default/macro.html.twig' as forms %}

{% block content %}
    <div class="mb-3">
        <h3>Perfil</h3>
        <div class="row">
            <div class="col-md-2">
                <img class="ui image tiny" src="{{ user.picture }}">
            </div>
            <div class="col-md-10">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <strong>Nome</strong><br/>
                        {{ user.name }}
                    </div>
                    <div class="col-md-4">
                        <strong>E-mail</strong><br/>
                        {{ user.email }}
                    </div>
                    <div class="col-md-4">
                        <strong>Nome Citação</strong><br/>
                        {{ user.nomeCitacao }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <strong>Instituição</strong><br/>
                        {{ user.instituicao }}
                    </div>
                    <div class="col-md-4">
                        <strong>Área</strong><br/>
                        {{ user.area }}
                    </div>
                    <div class="col-md-4">
                        <strong>Formação</strong><br/>
                        {{ user.formacaoLabel }}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mb-3">
        <h3 class="mb-0">Cursos</h3>
        <table class="table ">
            <thead>
            <th>Nome do curso</th>
            <th>Tipo de usuário</th>
            <th>Andamento</th>
            <th>Criado em</th>
            </thead>
            <tbody>
            {% for courseUser in user.courseUsers %}
                <tr>
                    <td>
                        <a href="{{ path('admin_courseUser_show',{
                            'courseUser': courseUser.id
                        }) }}">
                            {{ courseUser.course.title }}
                        </a>
                    </td>
                    <td>
                        {{ courseUser.typeLabel }}
                    </td>
                    <td>{{ courseUser.statusLabel }}</td>
                    <td>
                        {{ courseUser.created|date('d/m/Y H:i') }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="mb-3">
        <h3>Testes</h3>
        {% if user.answers is empty %}
            <p>Você ainda não possui testes realizados</p>
        {% else %}
            <table class="table">
                <thead>
                <th>Quiz</th>
                <th>Criado em</th>
                <th>Resultado</th>
                </thead>
                {% for answer in user.answers %}
                    {% set quiz = answer.quiz %}
                    <tr>
                        <td>
                            <a target="_blank" href="{{ path('quiz_answer_finish', {
                                'quiz' : answer.quiz.id, 'answer' : answer.id,
                                'back' : app.request.requestUri

                            }) }}">
                                {{ answer.created|date('d/m/Y H:i') }}
                            </a>
                        </td>
                        <td>
                            {{ answer.quiz.title }}
                        </td>
                        {# teste #}
                        <td>
                    <span class="ui label horizontal green basic">
                        <i class="check circle outline icon "></i>{{ answer.getCorrects(1) }}
                    </span>
                            <span class="ui label horizontal red basic">
                        <i class="times circle outline icon "></i>{{ answer.getInCorrects(1) }}
                    </span>
                            <span class="ui label horizontal basic">
                        {{ answer.percent(1) | number_format(2,',') }} %
                    </span>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

    <div class="mb-3">
        <h3>Favoritos</h3>
        {% if user.rates is empty %}
            <p>Você ainda não possui conteúdos favoritos</p>
        {% endif %}
        <table class="ui table">
            <thead>
                <th>Título</th>
            </thead>
            {% for rate in user.rates %}
                {% set content = rate.content %}
                <tr>
                    <td>
                        <a class="header" href="{{ path('content_path', {'path' : content.path}) }}">
                            {{ content.titulo }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block customjs %}
<script>
    $('.accordion').accordion();
    $(document).on("ready",function() {
        redirect = getCookie('redirect');
        if(redirect){
            setCookie('redirect','');
            window.location.replace(redirect);
        }
    });
</script>
{% endblock %}
