{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block main %}
    <div class="ui container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h4 class="">Recuperar senha</h4>

                {{ form_start(form) }}
                {{ form_row(form.email) }}

                <div class="mb-2">
                    {{ macros.button_submit('Entrar','primary','fluid') }}
                </div>
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}