{% for content in contents %}
    <div class="item">
    {% if content.imagem is not empty %}
        <div class="image">
            <a href="{{ path('content_path', {'path' : content.path}) }}">
                <img class="ui image  " src="{{ content.imagem }}">
            </a>
        </div>
    {% endif %}

    {% if content.urlVideo is not empty %}
        <div class="image">
            <a href="{{ path('content_path', {'path' : content.path}) }}">
                <img class="ui image  " src="https://img.youtube.com/vi/{{ content.getVideoId }}/default.jpg">
            </a>
        </div>
    {% endif %}

    <div class="content">
        <a class="header" href="{{ path('content_path', {'path' : content.path}) }}">
            {{ content.titulo }}
        </a>
        <div class="description">
            <small>criado em {{ content.created|date('d/m/Y') }}</small>
        </div>
    </div>
    </div>
{% endfor %}