<div class="ui grid column">
    <div class="four wide grid">
        <img class="ui small image" src="{{ content.imagem }}">
    </div>
    <div class="twelve wide grid">
        {{ content.titulo }}
    </div>
</div>