{% extends 'base.html.twig' %}
{% import 'default/macro.html.twig' as macros %}

{% block headjs %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}


{% block main %}
    {% verbatim %}
        <div v-if="contents.length === 0" class="loading">Carregando...</div>
        <div class="">
        <div v-for="content in contents" class="">
            <div v-html="content" class="ui items  "></div>
        </div>
        </div>
    {% endverbatim %}

{% endblock %}

{% block customjs %}
    <!-- SEMANTIC -->
    {% javascripts
    '@ContentBundle/Resources/public/js/*'

    filter='cssrewrite' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
