{% import ':default:macro.html.twig' as macros %}

{# obtem autores #}
{% set authorTags = content.contentAuthors %}

<div id="citation" class="d-flex flex-column mb-4">
    <div class="mb-2">
        {{ macros.blockTitle('Citar esse artigo (NBR 6023)') }}
    </div>
    <div>
        <i>
        {% if authorTags is empty %}
            {% set author = content.createdBy.nomeCitacao|default('') %}
        {% else %}
            {% set author = authorTags|join(' ') %}
        {% endif %}
        {{ author }}. {{ content.titulo }}. Dr.Pixel. Campinas: Dr Pixel, {{ content.created|date('Y') }}.
        Disponível em: {{ app.request.uri }}. Acesso em:
{{ "now"|date('d') }} {{ macros.month("now") }}. {{ "now"|date('Y') }}
        </i>
    </div>
</div>
