{% import ':default:macro.html.twig' as macros %}

{% if related is not empty %}
    <div id="viewmore" class="d-flex flex-column mb-4">
        <div class="mb-2">
            {{ macros.blockTitle('Conteúdos relacionados') }}
        </div>

        <div class="row">
            {% for content in related %}
                <div class="col-md-6">
                    <div class="d-flex flex-row mb-3">
                        {% if content.imagem is not empty %}
                            <a class="thumbnail" href="{{ path("content_path", {'path' : content.path}) }}" style="width: 120px">
                                <img class="" src="{{ path('liip_imagine_filter',{
                                    'filter':'thumbnail','path': content.imagem }) }}">
                            </a>
                        {% endif %}
                        <div class="ml-2">
                            <a class="bold" href="{{ path("content_path", {'path' : content.path}) }}" style="color: inherit">
                                <strong>{{ content.titulo }}</strong>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}