{% import ':default:macro.html.twig' as macros %}

{% if content.contentAuthors is not empty %}

    {% for contentAuthor in content.contentAuthors %}
        {% if contentAuthor.author is not empty %}
            <div id="author" class="d-flex flex-column">
                <div class="mb-2">
                    {% if content.contentAuthors.count == 1 %}
                        {{ macros.blockTitle('Autor') }}
                    {% else %}
                        {{ macros.blockTitle('Autores') }}
                    {% endif %}
                </div>
                <div class="blockLarge block-separator">
                    <div class="row">
                        {% if contentAuthor.author.imageFile is not empty %}
                            <div class="col-md-3">
                                <img src="{{ vich_uploader_asset(contentAuthor.author,'imageFile') }}"
                                     class="img-fluid">
                            </div>
                        {% endif %}
                        {% if contentAuthor.author is not empty %}
                            <div class="col-md-9">
                                <strong class="h5">{{ contentAuthor.author.name|default('') }}</strong>
                                <div class="text-muted">{{ contentAuthor.author.curriculum|raw }}</div>

                                <a href="{{ path('author_show',{'id':contentAuthor.author.id}) }}">
                                    ver perfil
                                </a>

                            </div>


                        {% endif %}
                    </div>
                </div>

            </div>

        {% endif %}

    {% endfor %}
{% endif %}