{% extends '::base.admin.html.twig' %}
{% import ':default:macro.html.twig' as macros %}

{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"
            integrity="sha512-CwHUCK55pONjDxvPZQeuwKpxos8mPyEv9gGuWC8Vr0357J2uXg1PycGDPND9EgdokSFTG6kgSApoDj9OM22ksw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
    {% form_theme form
        'jquery.collection.html.twig'
        'ContentBundle:Content:edit.collection.author.html.twig'
    %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.titulo)}}
    {{ form_row(form.path)}}

    {{ form_row(form.published)}}
    <div class="ui two column grid">
        <div class="column">
            {{ form_row(form.type)}}
        </div>
        <div class="column">
            {{ form_row(form.file) }}
        </div>
    </div>

    {{ form_row(form.body)}}

    <div class="mb-4">
        <h2>Autores</h2>
        <div class="mb-2">
            {{ macros.newWindow(path('author_new'),'Adicionar novo autor','secondary button ui basic') }}
        </div>
        {{ form_widget(form.contentAuthors) }}
    </div>

    <div class="mb-4">
        <h2>Vídeos</h2>
        {{ form_row(form.urlVideo) }}
        {{ form_row(form.video) }}
    </div>

    <div class="mb-4">
        <h2>Tags</h2>
        <div class="mb-2">
            {% for tagType in tagTypes %}
                {{ macros.newWindow(path('admin_tag_new',{'type':tagType.id}),'Adicionar ' ~ tagType.name,'secondary button ui basic mb-2') }}
            {% endfor %}
        </div>
        {{ form_row(form.tagType1) }}
        {{ form_row(form.tagType3) }}
        {{ form_row(form.tagType4) }}
        {{ form_row(form.tagType5) }}
{#        {% for formItem in form.children %}#}
{#            {{ form_row(formItem) }}#}
{#        {% endfor %}#}
    </div>
    {{ macros.button_submit() }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}





{% endblock %}


{% block customjs %}
<script src="{{ asset('js/jquery.collection.js') }}"></script>
    {{ macros.jscollection('autor','collection-author') }}



{% endblock %}

