{% block ContentAuthorType_label %}{% endblock %}


{% block ContentAuthorType_widget %}
    {{ form_widget(form.author) }}

    <script>
        $(document).ready(function () {
            $(".select2entity").select2();
        })
    </script>
{% endblock %}