{% extends 'base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}
    <div class="b-2">

        {{ form_start(form) }}
            <div class="row">
                {% for item in form.iterator %}
                    <div class="col-lg-4 col-md-6 mb-3">
                        {{ form_row(item,{'attr' : {'placeholder' : 'título'}}) }}
                    </div>
                {% endfor %}
                <div class="col-lg-4 col-md-6 mb-3">
                    {{ macros.button_submit('Pesquisar') }}
                </div>
            </div>


        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {% if contents is empty %}
        <h2>Não foram encontrados resultados</h2>
    {% else  %}
        <div id="data-table-basic_wrapper" class="dataTables_wrapper">
            <table class="ui table dataTable"  style="width: 100%;">
                <thead>
                <th></th>
                </thead>
                {% for content in contents %}
                    <tr>
                        <td>{{ macros.contentList(content) }}</td>
                    </tr>


                {% endfor %}
            </table>
        </div>
    {% endif  %}


{% endblock %}

{% block afterbody %}
    <script>
        $(document).on('ready',function () {
alert('oi');
            $('.dataTable').dataTable({

            });
        })
    </script>
{% endblock %}
