{% extends 'base.admin.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        {% for item in form.iterator %}
            {% if item.vars.name != '_token' %}
                <div class="col-md-4">
                    {{ form_row(item,{'attr' : {}}) }}
                </div>
            {% endif %}
        {% endfor %}

        <div class="col-md-4" style="margin-top: 18px">
            {{ macros.button_submit('Pesquisar') }}
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table class="ui table dataTable"  style="width: 100%;">
            <thead>
                <th>Criado em</th>
                <th>Descrição</th>

            </thead>
            <tbody>
            {% for content in contents %}
                <tr>
                    <td data-sort="{{ content.created|date('Ymd') }}">
                        {{ content.created|date('d/m/Y') }}
                    </td>
                    <td data-sort="{{ content.titulo }}">
                        {{ macros.contentList(content) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block customjs %}
    <script>
        $(document).on('ready',function () {
            console.log('oi');
            $('.dataTable').dataTable({

            });
        })
    </script>
{% endblock %}