{% extends 'v2/base.html.twig' %}
{% import 'v2/default/macro.html.twig' as macros %}

{% form_theme form _self %}

{%- block radio_widget -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' hidden')|trim}) %}

        <div class="ui radio checkbox">
            <input type="radio" {{ block('widget_attributes') }}
                   v-model="questionItem{{ form.vars.value }}"
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %} />
            <label>{{ form.vars.label|raw }}</label>
        </div>
{%- endblock radio_widget %}

{% block afterbody %}
    <script src="{{ asset('bundles/app/js/social/social.js') }}"></script>
{% endblock %}

{% block meta %}
    <meta property="og:url"           content="{{ app.request.getUri }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:locale"          content="pt_BR" />
    <meta property="og:title"         content="{{ page_title }}" />
    <meta property="og:description"   content="{{ content.body|slice(0,200) }}" />
    <meta property="og:image"         content="{{ content.imagem }}" />
{% endblock %}

{% block sidebar %}
    <div class="content-sidebar">
        {{ parent() }}
    </div>
{% endblock %}

{% block content %}
    {% include ':default:social.html.twig' %}

   {{ macros.published(content) }}

    <div class="intense">
        {{ macros.showYoutubeEmbed(content) }}
        {{ content.body|raw }}
    </div>

    {% include '@Content/Content/block.citation.html.twig' %}

    {% include '@Content/Content/block.more.html.twig' %}

    {% if courseProgress is defined %}
        {{ form_start(form) }}

        <br/>
        {# Curso iniciado#}
        {% if courseProgress.status == 'I' %}
        <div class="ui container">
            <div class="ui grid  column doubling stacked inverted">
                <div class="column wide center aligned ">
                    {{ macros.button_submit('Finzaliar módulo') }}
                </div>
            </div>
        </div>
        {% endif %}

        {# Curso concluido #}
        {% if courseProgress.status == 'C' %}
            <div class="ui container">
            <div class="ui grid  column doubling stacked inverted">
                <div class="column wide center aligned ">
                    <a class="ui button" href="{{ path('course_show', {'id' : courseProgress.courseContent.course.id }) }}">
                        Voltar para a página do curso
                    </a>
                </div>
            </div>
            </div>
        {% endif %}


        {{ form_end(form) }}
    {% endif %}

    {# QUIZ #}
    {% if content.quiz is not empty %}
        <div class="ui styled accordion fluid">
          <h1 class="active title">
            <i class="dropdown icon"></i>
            Teste seus conhecimentos
          </h1>
            <div class="content active">
                {% set question = content.quiz.questions.first %}

                {{ question.text|raw }}
                <br/>

                <div id="resposta" class="hide">
                    {{ form_start(form) }}

                    {{ form_row(form.answer) }}


                    {% for questionItem in question.itens %}
                        <div v-if="feedback{{ questionItem.id }}" class="ui message icon {% if questionItem.correct %}positive{% else %}negative{% endif %}">

                            {% if questionItem.correct %}
                                <img class="ui image small" src="{{ asset('bundles/app/drpixel/happy.png') }}">
                            {% else %}
                                <img class="ui image small" src="{{ asset('bundles/app/drpixel/sad.png') }}">
                            {% endif %}
                            <div class="content">
                                <div class="header">Resposta {% if questionItem.correct %}correta{% else %}incorreta{% endif %}</div>
                                <p>{{ questionItem.feedback }}</p>
                            </div>

                        </div>
                    {% endfor %}

                    <div class="hide">
                        {{ form_row(form.time,{'attr' : {
                            'v-model':'timerCounter'
                        }}) }}
                    </div>

                    <button  v-if="showResponderButton" v-on:click="responder" class="ui button positive">Responder</button>
                    <button type="submit" v-if="showNextButton" class="ui right labeled icon button primary">Próximo <i class="icon arrow right"></i></button>
                    {{ form_end(form) }}
                </div>
                <br/>
            </div>
        </div>
    {% endif %}

    {% include '@Content/Content/block.author.html.twig' %}

{% endblock %}

{% block headjs %}
    {% if content.quiz is not empty %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% endif %}
    {{ parent() }}

{% endblock %}

{% block customjs %}

    <script>
        $(document).on("ready",function() {
          $('.ui.accordion').accordion();
        });

        $( ".intense img" ).each(function() {
            $(this).removeAttr('style');
            $(this).css('max-height','300px');
            $(this).css('max-width','100%');
            $(this).css('display','block');
            $(this).css('text-align','center');
            $(this).css('margin','auto');
            $(this).after('<small style="text-align: center; display: block;">clique na imagem para ampliar</small>');
        });

        $( ".intense img" ).on('click',function () {
            window.open(this.src);
        })


        $(document).on("click", ".content_favorite_ajax", function (e) {
            var $element = $(this);
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: Routing.generate('content_favorite_ajax', {
                    'content': $($element).attr('content'),
                }),
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                .done(function (response) {
                    $element.replaceWith(response);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error : ' + errorThrown);
                });
        });


        $(document).on("click", ".content_slideshow_ajax", function (e) {
            var $element = $(this);
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: Routing.generate('content_slideshow_ajax', {
                    'content' : $($element).attr('content'),
                }),
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                .done(function(response){
                    $('#app').append(response);
                    $(response).modal('show');
                    $('.slider').slick({
                        adaptiveHeight: false,
                        vertical: true,
                        initialSlide: 0,
                        prevArrow:"<div class='ui button fluid white'><i class='ui icon arrow up'></i>",
                        nextArrow:"<div class='ui button fluid white'><i class='ui icon arrow down'></i>",

                    });
                })
                .fail(function(jqXHR, textStatus, errorThrown){
                    alert('Error : ' + errorThrown);
                });
        });

    </script>

    {% if content.quiz is not empty %}
        {% set question = content.quiz.questions.first %}
        <script>
            $(document).ready(function () {$('#resposta').removeClass('hide');});

            var questions = new Vue({
                el: '#resposta',
                data: {
                    timerCounter: 0,
                    showNextButton: 0,
                    showResponderButton: 1,
                    disableAnswer: 0,
                    {% for questionItem in question.itens %}
                    questionItem{{ questionItem.id }}: 0,
                    feedback{{ questionItem.id }}: 0,
                    {% endfor %}
                },
                mounted: function(){
                    this.timer();
                },
                methods: {
                    timer: function(){
                        this.timerCounter = setInterval( (element) => {
                            this.timerCounter++;
                    }, 1000 )},
                    responder: function(event){
                        if(event){
                            event.preventDefault();
                            {% for questionItem in question.itens %}
                            if(this.questionItem{{ questionItem.id }}){
                                this.feedback{{ questionItem.id }} = 1;
                                this.showResponderButton = 0;
                                this.showNextButton = 1;
                            }
                            {% endfor %}
                            if(this.showNextButton == 0){
                                alert('Selecione uma resposta');
                            }
                        }
                    }
                }
            });
        </script>
    {% endif %}

{% endblock %}